
@font-face {
  font-family: 'Graphik-Semibold';
  src: url('../fonts/Graphik-Semibold.eot');
  src: url('../fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Semibold.svg#Graphik-Semibold') format('svg'),
       url('../fonts/Graphik-Semibold.ttf') format('truetype'),
       url('../fonts/Graphik-Semibold.woff') format('woff'),
       url('../fonts/Graphik-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Bold';
  src: url('../fonts/Graphik-Bold.eot');
  src: url('../fonts/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Bold.svg#Graphik-Bold') format('svg'),
       url('../fonts/Graphik-Bold.ttf') format('truetype'),
       url('../fonts/Graphik-Bold.woff') format('woff'),
       url('../fonts/Graphik-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Regular';
  src: url('../fonts/Graphik-Regular.eot');
  src: url('../fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Regular.svg#Graphik-Regular') format('svg'),
       url('../fonts/Graphik-Regular.ttf') format('truetype'),
       url('../fonts/Graphik-Regular.woff') format('woff'),
       url('../fonts/Graphik-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DomaineDisp-Regular';
  src: url('../fonts/DomaineDisp-Regular.eot');
  src: url('../fonts/DomaineDisp-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DomaineDisp-Regular.svg#DomaineDisp-Regular') format('svg'),
       url('../fonts/DomaineDisp-Regular.ttf') format('truetype'),
       url('../fonts/DomaineDisp-Regular.woff') format('woff'),
       url('../fonts/DomaineDisp-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DomaineDispSemibold';
  src: url('../fonts/DomaineDispSemibold.eot');
  src: url('../fonts/DomaineDispSemibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DomaineDispSemibold.svg#DomaineDispSemibold') format('svg'),
       url('../fonts/DomaineDispSemibold.ttf') format('truetype'),
       url('../fonts/DomaineDispSemibold.woff') format('woff'),
       url('../fonts/DomaineDispSemibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


