
.categoria-css
	background-color #f4eee9
	.header__cnt__top
		background-color #f9f9f9
	.footer__suscripcion
		display none
.b13
	padding-top 12px
.b13__cnt
	display flex
	flex-direction row-reverse
	align-items center
	justify-content center
	.b9__text
		margin-left -170px
		z-index 2
	.b9__paragraph
		padding-right 80px
.b13__figure
	margin 0
	max-width 100%
	height auto
	position relative
	left -60px
	img
		display block
		width 687px
		opacity: 0.9
	&:before
		content ''
		width: 100%
		height 100%
		background-image url('../img/masc-2-OK2.png')
		position absolute
		left 0px
		top 0px
		background-size cover
		z-index: 1
@media screen and (max-width 960px)
	.b13__figure
		display none
	// .b9__text
	.b13
		padding-top 60px
	.b13__cnt
		 
		text-align center
		.b9__text
			margin-left 0 
		.b9__paragraph
			padding-right 0




























