



	


.b14
	padding-top 32px
.b14__nav
	display flex
	align-items center
	justify-content center
	li
		margin 0
		display flex
		align-items center
		&:first-child
			&:before
				display none
		&:before
			content '/'
	a
		height 34px
		display flex
		align-items center
		padding 0 12px
		font-size: 15px
		font-family t-1
		color #cecece
		@media screen and (min-width 1025px)
			&:hover
				color c-1
		&.active
			color c-1



.b14__items
	display flex
	flex-flow row wrap
	padding-top 36px
.b14__item
	margin 0
	background-color #f7f3ef
	margin-bottom 30px
	padding 18px 0 35px 0
	@media screen and (min-width 1025px) and (max-width 2666px)
		margin-left 24px
		width: calc(33.333333% - 16px)
		&:nth-child(3n + 1)
			margin-left 0
	@media screen and (min-width 601px) and (max-width 1024px)
		margin-left 24px
		width: calc(50% - 12px)
		&:nth-child(2n + 1)
			margin-left 0
	figure
		text-align center
	img
		display block
		max-width 100%
		height auto
	@media screen and (min-width 1025px)
		transition 350ms all
		&:hover
			background-color #fff
			.b14__etiqueta
				span
					background-color #f7f3ef
.b14__etiqueta
	display flex
	justify-content center
	padding-top 22px
	padding-bottom 12px
	span
		background-color #ffffff
		font-size: 13px
		line-height: 1.15
		font-family t-1
		min-width 86px
		height 25px
		display flex
		align-items center
		padding 0 10px
		box-sizing border-box
		text-align center
		justify-content center
		@media screen and (min-width 1025px)
			transition 350ms all
.b14__title
	text-align center
	max-width 190px
	margin auto
	width: 100%
	h3
		font-size: 18px
		text-align center
		font-family t-4
		color c-1
		margin-bottom 8px
		line-height: 1.2
	span
		font-size: 15px
		text-align center
		
		line-height: 1.67
		text-align center
.b14__item__btn
	padding-top 18px
	display flex
	justify-content center
	.general__btn
		width: 168px

.b14__pager
	display flex
	justify-content center
	padding-top 30px
	li
		margin 0
	a
		font-size: 18px
		color #b7b7b7
		font-size: 18px
		display block
		padding 0 10px
		font-family t-0
		@media screen and (min-width 1025px)
			&:hover
				color c-1
		&.active
			color c-1

@media screen and (max-width 600px)
	.b14__cnt
		width: 100%
	.b14__nav
		overflow auto
		white-space nowrap
		display block
		text-align center
		// a
		// 	&.active
		// 		text-decoration underline
		li
			display inline-block
			&:before
				display none
			
	.b14__item
		margin-right auto
		margin-left auto
		max-width 382px
		width: 100%
	.b14__items
		width: 86%
		margin auto






















