

.b15
	padding-top 100px
	.b14__items
		padding-top 44px
	&.b15__tradicionaldetalle
		.b15__title
			padding-bottom 0
			&:before
				display none
	.b14__title
		max-width 240px
.b15__title
	max-width 590px
	width: 100%
	margin auto
	text-align center
	position relative
	padding-bottom 130px
	&:before
		content ''
		width: 3px
		height 74px
		background-color c-1
		display block
		position absolute
		left 0px
		right 0px
		margin auto
		bottom 0px
	.general__title
		h2
			margin-bottom 12px
		p
			font-size: 15px
			line-height: 1.3
			font-family t-1
			margin 0
			color #4f4f4f
@media screen and (max-width 768px)
	.b15
		padding-top 60px	
	.b15__title
		padding-bottom 60px
		&:before
			height 38px
	.b15.b15__tradicionaldetalle
		padding-top 60px !important
































