
.b17__cnt
	display: flex;
	.b16__center
		width: 50%
		flex 1
		display flex
		justify-content flex-end
		margin-left -240px
		align-items flex-end
		height 300px
	.b16__right
		max-width: 50%
		padding-top 68px
	.b16__cnt__tab
		display flex
		li
			margin-left 16px
			&:first-child
				margin-left 0
	.b16__tab
		width: 841px
	.b16__ubica p
		font-size: 15px
		line-height: 1.47
	.b16__btn
		padding-top 40px
		.general__btn
			width: 408px

@media screen and (max-width 1280px)
	.b17__cnt .b16__center
		margin-left -180px
		flex inherit
		max-width 650px
		width: 100%
@media screen and (max-width 960px)
	.b17__cnt .b16__center
		max-width 560px
	.b17__cnt .b16__btn .general__btn
		width: 100%
@media screen and (max-width 768px)
	.b17__cnt .b16__center
		max-width 100%
		margin-left 0
		height auto
		margin-top -110px
	.b17__cnt .b16__tab
		width: 100%
	.b17__cnt
		flex-direction column
		padding-top 30px
		.b16__right
			max-width 100%
			margin-left 0
			padding-top 30px
	.b17__cnt .b16__btn .general__btn
		width: 100%
	.b17__cnt .b16__tab
		width: 100%
@media screen and (max-width 600px)
	.b17__cnt .b16__cnt__tab
		flex-direction column
		li
			width: 100%
			margin-left 0
	















































