.sedes-css
	.footer__suscripcion
		display none
	.footer
		display none
@keyframes anima_point
	0%
		opacity: 0
		transform: scale(0)

	55%
		opacity: 1

	95%
		transform: scale(1)
		opacity: 0

	100%
		transform: scale(0)
		opacity: 0

.b19
	background-color #f4eee9
	// overflow hidden
.b19__left
	width: 510px
	padding-top 33px
	.general__title
		max-width 384px
		width: 100%
		margin-bottom 12px
.b19__list
	padding-left 60px

	a
		font-size: 20px
		color #787878
		line-height: 1.7
		position relative
		&:before
			content ''
			width: 33px
			height 3px
			background-color c-1
			display block
			position absolute
			right calc(100% + 20px)
			top 0px
			bottom 0px
			margin auto
			opacity: 0
		&.active
			font-family: t-1
			color c-1
			&:before
				opacity: 1
.b19__cnt
	display flex
	height calc(100vh - 129px)
	min-height 600px

.b19__right
	flex 1
	display flex
	flex-direction column
	align-items stretch
	position relative
	&:before
		content ''
		width: 900px
		height 100%
		position absolute
		left 100%
		top 0px
		
		background-color #132d1d
	.general__title
		h2

			color #132d1d
	&:after
		content ''
		width: 100%
		height 142px
		background linear-gradient(to bottom, rgba(19, 45, 29, 0) 5%, #132d1d)
		position absolute
		left 0px
		bottom 0px
		pointer-events none
.b19__top
	width: 100%
	justify-content space-between
	display flex
	padding-left 58px
	box-sizing border-box
	padding-top 33px
	padding-bottom 20px
	background-color #e8e0d9
	position relative
	&:before
		content ''
		width: 900px
		height 100%
		position absolute
		left 100%
		top 0px
		
		background-color #e8e0d9
.b19__img
	position relative
	img
		display block
	&:before
		content ''
		width 41px
		height 41px
		border 1px solid #fff
		position absolute
		left 0
		right 0
		top 0px
		bottom 0px
		margin auto
		border-radius 50%
		animation: anima_point 2s infinite
		z-index: 1
	&:after
		content ''
		z-index: 1
		width 5px
		height 5px
		background #fff
		position absolute
		left 0
		right 0
		top 0px
		bottom 0px
		margin auto
		border-radius 50%
		transition all 400ms ease
.b19__nav
	width: 100%
	margin 0
	display flex
	background-color #e8e0d9
	position relative
	&:before
		content ''
		width: 900px
		height 100%
		position absolute
		left 100%
		top 0px
		
		background-color #e8e0d9
	li
		flex 1
	a
		height 50px
		display flex
		justify-content center
		align-items center
		color rgba(19, 45, 29, 0.49)
		border-radius 3px 3px 0 0
		font-size: 15px
		&.active
			background-color #132d1d
			color #fff
			font-family: t-1
.b19__cnt__tab
	background-color #132d1d
	flex 1
	overflow-y auto
	position relative
	
.b19__tab
	padding 13px 0 13px 66px
	width: 100%
	box-sizing border-box
	height 100%
	position absolute
	left 0px
	top 0px
	visibility hidden
	display none
	
	&.active
		display block
		position relative
		visibility: visible
.b19__item
	border-top 1px solid rgba(255, 255, 255, 0.5)
	padding 35px 0
	display flex
	align-content flex-start
	&:first-child
		border 0
.b19__icon
	margin 0
	width: 30px
	height 30px
	display flex
	align-items center
	justify-content center
	background-color c-1
	color #fff
	border-radius 100%
	margin-right 22px
.b19__text
	flex 1
	h3
		font-size: 16px
		font-family: t-1
		color #fff
		padding-top 8px
		margin-bottom 11px
		strong
			font-family: t-0
			color c-1
			font-weight: normal
	ul
		li
			color #fff
			display flex
			align-items flex-start
			font-size: 15px
			line-height: 1.47
			opacity: 0.5
			strong
				font-weight: normal
		p
			margin 0
			a
				@media screen and (min-width 1025px)
					&:hover
						text-decoration underline
						// opacity: 0.9

.b19__btn
	padding-top 15px
	a
		display flex
		align-items center
		color #fff
	i
		font-size: 22px
	span
		margin 0
		margin-left 10px
		text-decoration underline

@media screen and (max-width: 1024px)
	.b19__left
		width: 50%
	.b19__tab
		padding-left 30px
@media screen and (max-width: 960px)
	.b19__cnt
		width: 100%
		flex-direction column
		overflow visible
		height auto
	.b19__left
		max-width 100%
		width: 86%
		margin auto
		padding-bottom 30px
	.b19__top
		padding-left 7%
		padding-right 7%
	.b19__cnt__tab
		overflow visible
		flex inherit
	.b19__tab
		padding-left 7%
		padding-right 7%
		padding-bottom 60px
	.b19__nav a
		font-size: 14px













