body
	&.contacto-padding
		.b20__cnt
			padding-bottom 0
.contacto-css
	.header__cnt__top
		background-color #fff
	.header
		background-color #f4eee9
	.footer__suscripcion
		display none
.ayuda-css
	.header__cnt__top
		background-color #f9f9f9
	.footer__suscripcion
		display none
	.footer
		background-color #fff
.b20 
	padding-top 53px
	background-color #f4eee9
	.b2__text
		p
			max-width 384px
			width: 100%
	.b2__cnt
		padding-bottom 44px
	&.b20__ayuda
		background-color #fff
		.b2__text
			max-width 700px
	&.b20__denuncias
		.b22-info
		p
			max-width 100%
		.b2__text
			max-width 720px

.b20-block-last
	position absolute
	bottom 85px
	left 0
	right 0
	margin auto
	width 85%
.b20-boton-form
	position: absolute;
	right: 50px;
	bottom: 77px;
	z-index 300
.b20__cnt
	max-width 996px
	width: 100%
	background rgba(251,251,251,0.82)
	margin auto
	padding-bottom 440px
	position relative
	form
		max-width 996px
		width: 100%
		margin auto	
		background-color rgba(251, 251, 251, 0.82)
		padding 65px 78px 55px 78px
		box-sizing border-box
		border-radius 3px
		&.b20__form1
			padding-bottom 0
.b20__form2
	max-width 100%
	max-width 996px
	width: 100%
	margin auto	
	background-color rgba(251, 251, 251, 0.82)
	padding 0px 78px 55px 78px
	// padding 0
	box-sizing border-box
	form
		background-color transparent
		padding 0
.b20__select
	margin-bottom 22px
	select
		display none
.b20__selectBox
	position relative
.b20__clickSelect
	width: 100%
	height 48px
	border 1px solid #e8e9ed
	box-sizing border-box
	display flex	
	align-items center
	justify-content flex-start
	border-radius 2px
	position relative
	padding 0 30px 0 23px
	border 1px solid #b9b9b9
	background-color transparent
	@media screen and (min-width 1025px)
		&:hover
			border-color rgba(36, 98, 62, 0.6)
	&:before
		content '\e901'
		font-family: icomoon
		position: absolute
		right 0
		top 0
		height 100%
		width: 40px
		display flex
		align-items center
		justify-content center
		font-size: 7px
		color c-1
		pointer-events none
	span
		margin 0
		font-size: 14px
		color #a0a0a0
		font-family: t-0
		flex 1
		// line-height: 1.8
	i
		width: 60px
		height 60px
		background-size 90% auto
		background-position center center
		display block
		background-repeat no-repeat
		margin-right  10px
	&.active
		border-color #06160d
		border-bottom 0
		box-shadow 0 3px 9px 0 rgba(30, 32, 42, 0.15)
		border-radius 2px 2px 0 0
.b20__selectList
	display none
	position absolute
	left 0px
	top  100%
	width: 100%
	background-color #fff
	z-index: 2
	border 1px solid #06160d
	box-sizing border-box
	border-top 0
	max-height 240px
	overflow auto
.b20__data
	display flex
	height 70px
	align-items center
	justify-content flex-start
	align-items center
	padding 0 12px
	cursor pointer
	border-top 1px solid #eaeaea
	&:first-child
		border-top 0
	span
		margin 0
		font-size: 14px
		flex 1
	i
		width: 60px
		height 60px
		background-size 90% auto
		background-position center center
		display block
		background-repeat no-repeat
		margin-right  10px
	&.active
		background-color rgba(0, 79, 134, 0.15)
		span
			font-family t-1
	@media screen and (min-width 1025px)
		&:hover
			background-color rgba(0, 79, 134, 0.05)
.b20__row
	display flex
	flex-flow row wrap
	justify-content space-between
	>div
		width: calc(50% - 8px)
		position relative
.b20__select__ctn,.b20__input,  .b20__textarea
	position relative
	margin-bottom  22px 
	placeholder(#a0a0a0,t-0, 15px)

	display flex
	flex-direction column-reverse
	input,select,textarea
		width: 100%
		height 52px
		display flex
		align-items center
		justify-content center
		box-sizing border-box
		padding 18px 15px 0 23px
		border 1px solid #b9b9b9
		border-radius 2px
		color #a0a0a0
		appearance none
		font-size: 15px
		font-family: t-0
		background-color transparent
		@media screen and (min-width 1025px)
			transition 300ms all
			&:hover
				border-color #06160d
		&:focus
			border-color #06160d
			color #06160d
			box-shadow 0 3px 9px 0 rgba(30, 32, 42, 0.15)
			+label
				transform translateY(-10px)
				font-size: 11px
	&.active
		input,select
			border-color #06160d
			color #06160d
			+label
				transform translateY(-10px)
				font-size: 11px
	label
		font-size: 15px
		color #a0a0a0
		width: 100%
		position absolute
		left 0px
		bottom 0px
		height 100%
		display flex
		align-items center
		justify-content flex-start
		padding-left 23px
		box-sizing border-box
		pointer-events none
		&.fijar
			transform translateY(-10px)
			font-size: 11px
.b20__select__ctn
	select
		cursor pointer
		background transparent
		padding-top 0
	&:before
		content '\e90d'
		font-family: icomoon
		position: absolute
		right 0
		bottom 0
		height 50px
		width: 40px
		display flex
		align-items center
		justify-content center
		font-size: 8px
		color #a3a3a3
		pointer-events none
.b20__textarea
	textarea
		width: 100%
		height 114px
		padding-top 20px
		font-size: 15px
		color #a0a0a0

.b20__options
	display flex
	justify-content flex-start
	>span
		font-size 15px
		font-family: t-1
		margin 0
		margin-right 40px
		padding-top 4px
	ul
		margin 0
		display flex
		flex-flow row wrap
		justify-content flex-start
		// margin: 10px
		li
			margin 0
			margin-left 30px
			position relative
			padding-top 4px
			white-space nowrap
			margin-bottom 10px
			@media screen and (min-width 1025px)
				&:first-child
					margin-left 0
		input
			position absolute
			left 0px
			top 0px
			opacity: 0
			&:checked
				+label
					span
						border-color c-1
						&:before
							opacity: 1
				+label
					color c-1
		label
			font-family: t-1
			font-size: 15px
			position relative
			padding-left 34px
			padding-top 4px
		span
			position absolute
			left 0px
			top 0px
			width 23px
			height 23px
			border 1px solid #787878
			border-radius 100%
			display flex
			align-items center
			justify-content center
			box-sizing border-box
			&:before
				content ''
				width: 13px
				height 13px
				background-color c-1
				border-radius 100%
				opacity: 0
.b20__item__termino
	.b20__relative
		margin-bottom 14px
.b20__terminos
	margin-top  24px
	display flex
	justify-content space-between
.b20__relative
	position  relative
	input
		position absolute
		left 0px
		top 0px
		opacity 0
		&:checked
			+label
				&:before
					font-size: 8px
					border-color #3d4a58
	label
		padding-left 25px
		position relative
		display block
		font-size: 15px
		color #848b9e
		padding-top  1px
		&:before
			content '\e916'
			font-family icomoon
			width: 18px
			height 18px
			font-size: 0px
			border-radius 2px
			border 1px solid #a3a3a3
			box-sizing border-box
			position absolute
			left 0px
			top 0px
			display flex
			align-items center
			justify-content center
			color #000
			font-weight: bold
		@media screen and (min-width 1025px)
			&:hover
				&:before
					border-color #3d4a58
		a
			color #848b9e
			text-decoration underline
			// font-family t-1
.b20__btn
	.general__btn
		width: 202px
.b20__cnt__items
	max-width 996px
	padding-top 50px
	display flex
	align-items flex-start
	justify-content space-between
	ul
		margin 0
		width: calc(50% - 12px)
		border-top 1px solid rgba(151, 151, 151, 0.24)
.b20__item
	min-height 138px
	display flex
	align-items center
	padding 12px 66px
	width: 100%
	box-sizing border-box
	border-bottom 1px solid rgba(151, 151, 151, 0.24)
	figure
		font-size: 45px
		color c-1
		&.icon-Group-4
			font-size: 53px
			

.b20__text
	padding-left 33px
	flex 1
	p
		margin 0
		font-size: 15px
		line-height: 1.53
		color #787878
		a
			&:hover
				text-decoration underline
.b20__redes
	display flex
	justify-content center
	padding-top 70px
.b20__facebook
	display flex
	align-items center
	justify-content center
	text-align center
	i
		font-size: 25px
		margin-right 6px
	p
		margin 0
		font-size 15px
		line-height: 1.53
		strong
			font-weight: normal
			font-family: t-1
@media screen and (max-width 1024px)
	.b20__item
		padding 12px 30px
	.b20__options
		ul
			margin-top: 1%
@media screen and (max-width 768px)
	.b20__cnt
		// padding 0 7%
		form
			padding 60px 30px
	.b20__options
		flex-direction column
		align-items flex-start
		span
			margin-bottom 16px
	.b20__item
		padding 12px 20px
	.b20__text p
		font-size: 14px
	.b20__facebook p
		font-size: 13px
@media screen and (max-width 767px)
	.b20 
		.b2__cnt
			padding-bottom 30px
		.b2__text .general__title
			margin-bottom 0
	.b20__row
		flex-direction column
		>div
			width: 100%
	.b20__input, .b20__textarea
		margin-bottom 10px
	.b20__options ul label
		font-size: 11px
		padding-top 6px
	.b20__options
		ul
			margin-top: 2%
	.b20 .b20__relative
		margin-top 10px
	.b20__cnt
		// padding 0
		form
			padding 30px 7%
	
	.b20__form2
		padding 0px 7% 60px 7%
		form
			padding 0
	.b20__terminos
		flex-direction column
		align-items center
	.b20__btn
		padding-top 30px
	.b20__options ul li
		&:nth-child(3n + 1)
				margin-left 0
	.b20__cnt__items
		flex-direction column
		align-items center
		ul
			width: 100%
	.b20__text
		padding-left 20px
	.b20__item 
		padding 12px 15px
		figure
		font-size: 35px
	.b20__facebook 
		flex-direction column
		align-items center
		i
			margin-bottom 10px
	.b20 .b20__terminos
		margin-top 40px !important

	.b20-boton-form
		bottom 17px
		left 0
		right 0
		margin auto
	.b20-block-last
		bottom 118px
























