.b22
	// margin-top 44px
	margin-bottom 195px
	
	.select2-container--default 
		.select2-search--inline
			.select2-search__field
				height 30px
				margin-top 0
				
		.select2-selection--multiple
			min-height 81px

.b22-title
	text-align center
	max-width 780px
	margin-left auto
	margin-right auto
	p
		font-family t-0
		font-size 14px
		color #585757
		line-height 1.7
		margin-top 47px
		strong
			color #000
.b22-tabs
	margin-top 70px
.b22-text
	margin auto
	margin-top 40px
	max-width 780px
	p
		line-height 1.73
		text-align center
		margin 0
.b22-form
	max-width 975px 
	margin auto
	// margin-top 50px
.b22-tab-wrap
	display none
	&.active
		display block
		background-size contain
		
.b22
	.f-wrap
		border 1px solid rgba(170, 170, 170, 0.8)
	.select2-container--default
		.select2-selection--multiple
			border 1px solid rgba(170, 170, 170, 0.8) !important
			.select2-selection__choice__remove
				color #aeaeae
				border-radius 50%
				border 1px solid #aeaeae
				width 15px
				height 15px
				display block
				text-align center
				float right
				margin-left 5px
				line-height 15px
				font-size: 0px
				border 0px
				&:before
					content '\e901'
					font-family icomoon
					font-size: 15px
					color #1489ff
					position: absolute
					top 50%
					right: 14px
					transform translateY(-50%)
			.select2-selection__choice
				// background-color #f3f2f2
				position: relative
				background rgba(#1489ff, .24)
			.select2-selection__rendered
				li
					// padding 8px 8px
					border 0
					border-top-left-radius 30px
					border-top-right-radius 30px
					border-bottom-left-radius 30px
					border-bottom-right-radius 30px
					padding: 9px 20px
					color #1489ff
					font-size: 14px
					// height 34px
.b20
	.b22-icons
		display: flex
		align-items: center
		a
			width: 40px;
			height: 40px;
			position: relative;
			display: block;
			// border: 1px solid #979797;
			border-radius: 50%
			// top 50%
			// transform translateY(-50%)
			&:first-child
				margin-right: 15px
			span
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				&:before
					font-size: 20px;
					color: #979797;
			&:last-child
				span
					&:before
						color #fa948b
	.b22-delete-form
		cursor pointer
		position: absolute
		right 30px
		top 30px
		border 1px solid #979797
		border-radius 50%
		width 30px
		height 30px
		display: flex
		align-items: center
		justify-content: center
		z-index: 2
	.form-input-btn
		&.bloque
			display: flex
			align-items: center
			justify-content: space-between
			flex-direction: row
			.form-btn
				margin-top 0
			.g-checkbox-label label
				font-size 15px
	.form-cuartos
		.form-text-file
			padding-left 0
			
			&.hidden
				display none
		.tooltip
			height 52px
			max-width 453px
			width: 100%
			background rgba(#1489ff, 0.14)
			display: flex
			align-items:  center
			justify-content: flex-start
			margin-left 47px
			position: relative
			border-radius 2px
			&:before
				content: '';
				width: 0;
				height: 0;
				border-left: 20px solid #deeeff;
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;
				transform: rotate(180deg);
				position: absolute;
				left: -19px;
			span
				margin 0
				margin-right 17px
				margin-left 40px
				&:before
					font-size 22px
		.tooltip-text
			p
				margin auto
				font-size: 13px
				line-height 1.15
				color #1489ff
		.form-item
			&.text-file
				opacity 0
				width: 0px
				height 0px
				position: absolute
			&:first-child
				padding-left 20px
			&.load-file
				padding-left 0
				max-width 324px
				width: 100%
				margin-left 0
				height 52px
				border 1px solid #1489ff
				font-size: 13px

.b22-tab-click-wrap
	&.disabled
		pointer-events none
		cursor default 

.b22-resumen
	opacity 0
	visibility hidden
	// transition: all 400ms ease
	position: absolute
	top 0
	left 0
	display: flex
	align-items: center
	justify-content: space-between
	h2
		font-size: 15px
		font-family: t-1
		color #787878
		margin auto 0 0 0
		line-height 1.47
		span
			font-size 14px
			font-family: t-0
			display: inline-block
			width 100%
			
	&.active
		opacity 1
		visibility visible
		// transition: all 400ms ease
		position: relative
.b20
	.form-duo
		.form-item
			&:first-child
				margin-right 0 
	.form-group-item
		margin-bottom 30px
		opacity 1
		visibility visible
		// transition: all 400ms ease
		position: relative
		.g-input
			height 58px
		&.active
			opacity 0 
			visibility hidden
			// transition: all 400ms ease
			position: absolute
			top 0
			left 0
	.form-add-item
		background rgba(#d8d8d8, .13)
		display: flex
		align-items: center
		justify-content: center
		height 55px
		position: relative
		margin-top 25px
		opacity 0.5
		pointer-events none
		&.active
			opacity 1
			pointer-events all
		span
			color #207443
			font-size 14px
			text-decoration underline
			font-family: t-0
			margin 0
			margin-left 10px
		i
			color #207443
			// border 1px solid #585757
			border 0px
			font-size 18px
	
.b22-set-radio
	display flex
	flex-flow row wrap
	width 100%
	max-width 740px
	margin-top 40px
	margin-bottom 60px
	margin-left auto
	margin-right auto
	justify-content: center
	align-items: center
	
	strong
		font-family t-3
		font-size 15px
		color #151516
		font-weight normal
		width 95px
		
.b22-box-radio
	// margin-right 80px
	max-width 300px
	width: 100%
	&:first-child
		margin-right 12px
	&:last-child
		margin-left 12px
	input[type="radio"]
		display none
		&:checked
			+
				label
					background #1489ff
					color #fff
					transition: all 400ms ease
					&:after
						opacity 1
					&:before
						background transparent
						color #fff
						border 1px solid #fff
					&:after
						background #fff

	label
		font-family t-2
		font-size 14px
		color #000
		padding-left 30px
		position relative
		display flex
		align-items: center
		justify-content: center
		position relative
		max-width 300px
		width: 100%
		height 52px
		border-radius 4px
		// display block
		box-sizing: border-box
		background #e3e3e3
		&:before
			content ""
			border 1px solid #000
			width 20px
			height 20px
			position absolute
			left 80px
			top 14px
			border-radius 50%
			background-color #fff
			background transparent
		&:after
			content ""
			position absolute
			top 20px
			left 86px
			width 10px
			height 10px
			opacity 0
			background-color #000
			border-radius 50%

.b22-wrap-form
	position: relative
	margin-bottom 22px
	&.clone
		opacity 0
		visibility hidden
		position: absolute
		top 0
		left 0
	&.guardado
		.b22-delete-form
			display none
	&.principal
		.form-eliminar
			display none
.b22-wrap-info,
.b22-servicio-wrap,
.b22-sociales-wrap,
.b22-wrap-form
	width: 100%
	padding: 44px 75px
	border 1px solid rgba(#979797, .3)
	border-radius 4px 
	box-sizing: border-box
	// text-transform: capitalize
.b22-servicio-wrap
	padding: 30px 75px
	padding-bottom 30px
	.select2
		margin-bottom 30px
	h2
		margin-top 0
		margin-bottom: 15px
		font-size 14px
		font-family: t-0
.b22-sociales-wrap,
.b22-wrap-form
	padding: 30px 75px
.b22-wrap-form
	h1
		margin-bottom 40px
	.form-btn
		a
			max-width 225px
			height 52px
			background #fff
			color #1489ff
			border 1px solid #1489ff
			border-radius 5px
			font-size 13px
			box-sizing: border-box
			width 100%
			padding 10px
			display: flex
			align-items: center
			justify-content: center
			margin 0 0 0 auto
.b22-wrap-checks
	display: flex
	align-items: flex-start
	justify-content: space-between
	border 1px solid rgba(#979797, .3)
	border-radius 4px 
	padding 42px 37px
	box-sizing: border-box
	margin-bottom 58px
.b22-set-checks
	margin-bottom 45px
	display flex
	flex-flow row wrap
	justify-content space-between
	margin-right 65px
	max-width 180px
	width: 100%
	
.b22-title-form
	font-size: 	15px
	font-family t-4
	line-height: 15px
	color #18181c
	margin auto
	margin-bottom: 15px
.b22-box-check
	// width calc(20% - 10px)
	// min-width 100%
	width: 100%
	min-height 42px
	position relative
	margin-bottom 10px
	&.active
		label
			border 1px solid c-3
			// border 0
			color #fff
			color c-3
			&:before
				background-color c-3
				border 1px solid #fff
			&:after
				opacity 1
			
	&.contador
		label
			span
				opacity 1
				visibility visible
				transition: all 400ms ease
	label
		height 42px
	&.disabled
		label
			border 1px solid rgba(88, 87, 87, 0.15) !important
			color rgba(88, 87, 87, 0.15) !important
			background-color #ffffff !important
			&:before,&:after
				border 1px solid rgba(88, 87, 87, 0.15) !important
				background-color #ffffff !important
				
	// &:after
	// 	content ""
	// 	position absolute
	// 	top 0
	// 	left 0
	// 	width 100%
	// 	height 100%
	// 	background-color rgba(#fff, .7)
	// 	opacity 0
	// 	visibility hidden
	// 	z-index 100
	// 	cursor not-allowed
	
	input[type="checkbox"]
		display none
		// &:checked
		// 	+
		// 		label
		// 			// background-color c-3
		// 			border 1px solid c-3
		// 			// border 0
		// 			color #fff
		// 			color c-3
		// 			&:before
		// 				background-color c-3
		// 				border 1px solid #fff
		// 			&:after
		// 				opacity 1
	label
		width 100%
		height 100%
		display flex
		align-items center 
		// padding-left 40px
		padding 5px 20px
		margin 0
		background-color transparent
		border-radius 4px
		font-family t-2
		font-size 13px
		color #585757
		text-transform uppercase
		position relative
		box-sizing border-box
		border solid 1px #bfbfbf
		
		span
			margin 0
			position: absolute
			top 50%
			transform translateY(-50%)
			right 10px
			width: 20px
			height 20px
			border-radius 50%
			// background #1489ff
			border 1px solid #1489ff
			color #1489ff
			display: flex
			align-items: center
			justify-content: center
			opacity 0
			visibility hidden
			transition: all 400ms ease
			i
				font-style: normal
		// &:before
		// 	content ""
		// 	border 1px solid #bfbfbf
		// 	width 15px
		// 	height 15px
		// 	position absolute
		// 	left 17px
		// 	top 0
		// 	bottom 0
		// 	margin auto 0
		// 	border-radius 3px
		// 	background-color transparent
			
		// &:after
		// 	content ""
		// 	display block
		// 	position absolute
		// 	top 0
		// 	bottom 2px
		// 	left 23px
		// 	margin auto 0
		// 	width 2px
		// 	height 7px
		// 	border solid #fff
		// 	border-width 0 2px 2px 0
		// 	transform rotate(45deg)
		// 	opacity 0
			
	&.blocked
		&:after
			opacity 1 
			visibility visible
		

.b22-set-rubros
	display flex
	flex-flow row wrap
	justify-content space-between
	// margin-top 50px
	// margin-bottom 50px
	max-width 650px
	width: 100%
.b22-check-rubro
	position relative
	margin-bottom 20px
	width 45%
	
	input[type="checkbox"]
		display none
		&:checked
			+
				label
					&:after
						opacity 1
	label
		width 100%
		height 100%
		display flex
		align-items center 
		padding-left 30px
		margin 0
		border-radius 4px
		font-family t-0
		font-size 13px
		color #585757
		position relative
		box-sizing border-box

		&:before
			content ""
			border 1px solid #bfbfbf
			width 15px
			height 15px
			position absolute
			left 0px
			top 0
			bottom 0
			margin auto 0
			background-color transparent
			
		&:after
			content ""
			display block
			position absolute
			top 0
			bottom 2px
			left 6px
			margin auto 0
			width 2px
			height 7px
			border solid #585757
			border-width 0 2px 2px 0
			transform rotate(45deg)
			opacity 0


.b22-check-rubro
	display: none
	&.active
		display: block
	&.fijo
		display block

.b22-info
	max-width 384px
	width 100%
	margin auto
	margin-bottom 65px
.b22-form-content-all
	max-width 1000px
	width 100%
	margin auto
	// background #fbfbfb
	padding 80px
	padding-bottom 100px
.b20
	// background #f4eee9
	.form-add-item
		opacity 0.5
		pointer-events none
		justify-content center
		&.active
			opacity 1
			pointer-events all
	.b20__options
		display flex
		&.informe
			padding-bottom 22px
		&.deseo
			padding-bottom 55px
		&.quien
			padding-bottom 25px
			padding-top 20px
		&.write
			padding-top 34px
			padding-bottom 31px
		&.sospecha
			padding-top 53px
			padding-bottom 34px

	.b20__terminos
		flex-direction row
		align-items center
		margin-top 65px
	.b20__relative
		margin-bottom 16px
.b22-wrap-form
	border 1px solid #b9b9b9
	padding 40px
	&.clone
		opacity 0
		visibility hidden
		position: absolute
		top 0
		left 0
	.b20__options
		margin-bottom 25px
	.general__btn
		max-width 161px
		width 100%
		margin 0 0 0 auto

.b22-add
	height 50px
	display flex
	align-items center
	justify-content center
	font-size 15px
	font-family t-0
	background #f0f0f0
	color #207443
	margin-top 17px
	a
		margin 0
		text-decoration underline
	i
		margin-right 10px
.b22-file
	max-width 432px
	width 100%
	display flex
	align-items center
	justify-content center
	background #fff
	height 50px
	margin auto 
	margin-top 57px
	h2
		font-size 15px
		font-family t-0
		color #787878
		margin auto
		span
			padding-right 10px
			font-size 20px

.b22-resumen
	opacity 0
	visibility hidden
	// transition: all 400ms ease
	position: absolute
	top 0
	left 0
	display: flex
	align-items: center
	justify-content: space-between
	h2
		font-size: 15px
		font-family: t-1
		color #787878
		margin auto 0 0 0
		line-height 1.47
		span
			font-size 14px
			font-family: t-0
			display: inline-block
			width 100%
			
	&.active
		opacity 1
		visibility visible
		// transition: all 400ms ease
		position: relative
@media screen and (max-width 1200px)
	.b22-sociales-wrap, .b22-wrap-form
		padding 30px
	.b22-wrap-form .form-btn a
		margin auto
		margin-top 25px	
	.b22-wrap-info
		padding 20px
	.b22-servicio-wrap
		padding 20px
@media screen and (max-width 1024px)
	.b22-wrap-checks
		flex-direction column
		padding 23px
	.b22-set-checks
		max-width 100%
		flex-flow row wrap
		justify-content flex-start	
	.b22-box-check
		width 19%
		margin-right 1%	
@media screen and (max-width 860px)
	.b22-box-check
		width 24%
		margin-right 1%	
	.b22 .form-cuartos .form-item.load-file
		margin auto
	.b22 .form-cuartos .tooltip
		margin auto
		margin-top 20px	
	.b22 .form-cuartos .tooltip:before
		display: block;
		margin-top: 20px;
		left: 0;
		right: 0;
		margin: auto;
		top: -20px;
		transform: rotate(-90deg);
	.b22 .form-cuartos .tooltip span
		margin-left 20px
@media screen and (max-width 680px)
	.b22-box-check
		width 32%
		margin-right 1%
	.b22-box-radio:last-child
		margin-left 0
		margin-top 20px
	.b22-box-radio:first-child
		margin-right 0
	.b22-set-radio
		flex-direction column	
@media screen and (max-width 580px)
	.b22-box-check
		width 49%
		margin-right 1%	
	.b22-check-rubro
		width 100%
		
@media screen and (max-width 420px)
	.b22-box-check
		width 100%
		margin-right 0%	
	
@media screen and (max-width 768px)
	.b22-sociales-wrap, .b22-wrap-form
		padding 20px
	.b22-wrap-form h1
		margin-bottom 25px
	.b22-title-form
		font-size 14px	
	.b22-tabs
		margin-top 30px
	.b22-text
		margin-top 20px
		p
			line-height 1.4
			font-size 13px
	.b22-form
		padding-top 20px
	.b22 .b22-icons a
		width 30px
		height 30px
		span	
			width 30px
			height 30px
			&:before
				font-size: 34px
	.b22 .form-input-btn.bloque
		flex-direction: column
		.form-btn
			margin-top 25px	
@media screen and (max-width 767px)
	.b20 .b20__options.sospecha
		padding 30px 0
	.b20 .b20__relative
		margin-bottom 0
		
@media screen and (max-width 480px)
	.b22-title p
		margin-top 30px	
	.b22-title-form
		font-size 13px	

	.b22
		.form-group-item
			margin-bottom 15px
		.g-btn-medium, .g-btn-small
			height 50px
			font-size: 13px