.gestion-css
	.header .header__cnt__top
		background-color #fff
	.header__cnt__center
		background-color: #f8f8f8
	.footer__suscripcion
		display none
	.footer
		background-color #fff

.b23__title
	background-color: #f8f8f8
	padding-top 62px
	.b3__title
		max-width 610px
		padding-bottom 52px
		&:before
			display none
.b23__cnt
	display flex
	align-items flex-start
.b23__left
	width: 428px
	padding-top 40px
	// padding-bottom 60px
	>ul
		border-right  1px solid #d8d8d8
		padding-right 30px
		padding-top 20px
		padding-bottom 100px
		min-height 600px
		box-sizing border-box
.b23__input
	position relative
	margin-bottom  22px 
	placeholder(#787878,t-0, 15px)

	display flex
	flex-direction column-reverse
	input
		width: 100%
		height 52px
		display flex
		align-items center
		justify-content center
		box-sizing border-box
		padding 16px 36px 0 16px
		border 1px solid #c8c8c8
		border-radius 8px
		color #787878
		appearance none
		font-size: 15px
		font-family: t-0
		background-color transparent
		@media screen and (min-width 1025px)
			transition 300ms all
			&:hover
				border-color c-1
		&:focus
			border-color c-1
			color c-1 !important 
			box-shadow 0 3px 9px 0 rgba(30, 32, 42, 0.15)
			+label
				transform translateY(-10px)
				font-size: 11px
				color #8e8e93
			
		&:invalid
			color red
	&.active
		input,select
			// border-color #06160d
			color #8e8e93
			+label
				transform translateY(-10px)
				font-size: 11px
				// color #3760ff
		&:after
			color c-1
	label
		font-size: 14px
		color #8e8e93
		width: 100%
		position absolute
		left 0px
		bottom 0px
		height 100%
		display flex
		align-items center
		justify-content flex-start
		padding-left 16px
		box-sizing border-box
		pointer-events none
		white-space nowrap
		overflow hidden
		@media screen and (min-width 1025px)
			transition 50ms all linear
		&.fijar
			transform translateY(-10px)
			font-size: 11px
	&:after
		content '\e612'
		font-family: icomoon
		position absolute
		right 10px
		top 0px
		width: 30px
		height 100%
		display flex
		justify-content center
		align-items center
		font-size: 18px
		color #8e8e93
.b23__buscador
	position relative
	&.active
		.b23_list_result
			visibility: visible
			opacity: 1
			transform scale(1) 
	.b23_list_result
		background-color #fff
		position absolute
		left 0%
		top 100%
		width: 100%
		z-index: 3
		border-radius 10px
		box-shadow 0 5px 5px 0 rgba(0, 0, 0, 0.10)
		opacity: 0
		visibility hidden
		transform scale(0.95) 
		border 1px solid rgba(0, 0, 0, 0.15)
		z-index: 10
		li
			border-top 1px solid #eaeaea
			&:first-child
				border-top 0
	.b23_item_list
		width: 100%
		min-height 55px
		display flex
		flex-direction column
		justify-content center
		align-items center
		padding 10px 16px
		box-sizing border-box
		&.ui-state-active
			background-color #f4f9ff
	.b23_item_descri
		font-size: 14px
		width: 100%
		color c-1
	.b23_item_categoria
		margin 0
		font-size: 11px
		opacity: 0.5
		width: 100%
		text-align left
		margin-bottom 5px
	.ui-autocomplete
		top 0px !important
		left 0px !important
		width: 100% !important
		// display block !important
		overflow auto
		max-height 280px
		border-bottom 1px solid #eaeaea
		border-radius 0 0  10px 10px

.b23__list
	border-bottom 1px solid #d8d8d8
	&:first-child
		border-top 1px solid #d8d8d8
.b23__item
	height 55px
	display flex
	width: 100%
	align-items center
	justify-content flex-start
	font-size: 15px
	color #06160d
	font-family: t-1
	padding-right 30px
	padding-left 10px
	box-sizing border-box
	position relative
	&.b23__click
		&:before
			content '\e901'
			font-family: icomoon
			position: absolute
			right 0
			top 0
			height 100%
			width: 40px
			display flex
			align-items center
			justify-content center
			font-size: 7px
			color c-1
			pointer-events none
	&.active
		color c-3
		font-family: t-2
.b23__ul
	padding-left 40px
	padding-right 20px
	padding-bottom 20px
	padding-right 0
	display none
	a
		height 40px
		display flex
		align-items center
		justify-content flex-start
		width: 100%
		&.active
			color c-3
			font-family: t-1
	.b23__click
		padding 0
		width 100%
.b23__respon
	display none






.b23__right
	flex 1
	padding-left 128px
	padding-top 78px
	li
		margin-bottom 30px
	h2
		font-size: 25px
		// color #4f4f4f
		color c-1
		font-family: t-4
		margin-bottom 30px
	h3
		font-size: 16px
		margin-bottom 20px
		color #4f4f4f
		font-family: t-4
	p
		font-size: 15px
		line-height: 1.47
.b23__load
	padding-top 10px
	display flex
	flex-direction column
	align-items flex-start
	margin 0
	li
		margin 0
		margin-bottom 18px
	a
		width: 100%
		display flex
		align-items center
		// opacity: 0.5
		@media screen and (min-width 1025px)
			&:hover
				color #207443
				opacity: 1
	i
		font-size: 27px
	p
		margin 0
		flex 1
		margin-left 10px

@media screen and (max-width 1024px)
	.b23__left
		width: 300px
	.b23__right
		padding-left 30px
@media screen and (max-width 767px)
	.b23__cnt
		flex-direction column
		padding-top 30px
	.b23__left
		max-width 100%
		width: 100%
		margin auto
		padding-top 0px
		position relative
		>ul
			min-height 100%
			padding-bottom 20px
			padding-right 0
			border 0
	.b23__input 
		input
			font-size: 13px
		label
			font-size: 13px
	.b23__buscador
		max-width 290px
		margin auto
		width: 100%
	.b23__respon
		max-width 90%
		width: 100%
		margin auto
		display block
		position relative
		z-index: 3
		.general__btn
			width: 100%
			max-width 300px
			margin auto
			transition 150ms all
			background-color #fff
			justify-content flex-start
			// padding-right 30px
			// box-sizing border-box
			font-size: 13px
			padding-left 20px
			span
				margin 0
			&:after
				content '\e901'
				font-family: icomoon
				position: absolute
				right 0
				top 0
				height 100%
				width: 40px
				display flex
				align-items center
				justify-content center
				font-size: 7px
				color c-1
				pointer-events none
			&.active
				border-color rgba(0, 0, 0, 0.10)
				border-bottom-color transparent
				border-radius 10px 10px 0 0
				// box-shadow 0px -8px 10px 0px rgba(0, 0, 0, 0.08)
				// box-shadow 0 0 5px 0 rgba(0, 0, 0, 0.18)
				
		
	.b23__list
		border-color rgba(216, 216, 216, 0.26)
		&:first-child
			border-color rgba(216, 216, 216, 0.26)
	.b23__ul
		padding-left 20px
		padding-right 20px
		a
			min-height 40px
			height auto
			padding 6px 0
			box-sizing border-box
			font-size: 14px
	.b23__cnt__list
		// display none
		position absolute
		left 0px
		top 100%
		right 0px
		margin auto
		background-color #fff
		z-index: 3
		border-radius 10px
		overflow hidden
		box-shadow 0 5px 5px 0 rgba(0, 0, 0, 0.10)
		padding-bottom 20px
		max-width 360px
		transition 150ms
		opacity: 0
		visibility hidden
		transform scale(0.95)
		border 1px solid rgba(0, 0, 0, 0.10) !important
		&.active
			opacity: 1
			visibility: visible
			transform scale(1)
	.b23__item
		font-size: 14px
	.b23__right
		width: 100%
		padding-left 0
		padding 60px 0













		

