.gracias-css
	.footer__suscripcion
		display none 
	.header__cnt__center
		background-color #f4eee9

.b24
	background-color #f4eee9
	height calc(100vh - 200px)
	min-height 500px
	display flex
	align-items center
	justify-content center
.b24__text
	.b3__title
		max-width 100%
		p
			font-size: 30px
	.general__title h2
		line-height: 0.8
.b24__paragraph
	padding-top 25px
	text-align center
	p
		font-size: 20px
	span
		font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)))
		font-family: t-1
.b24__btn
	padding-top 38px
	display flex
	justify-content center
	.general__btn
		width: 190px
		&:nth-child(2)
			margin-left 20px
























