
.b3
	position relative
.b3__hoja1
.b3__hoja2
	position absolute
	img
		display block
		max-width 100%
		height auto
	@media screen and (min-width 1025px)
		&.scroll-item
			transform scaleY(1.26) translateY(5rem)
			// transform translateY(5rem)
			transform-origin top center
			will-change transform
			transition opacity .8s cubic-bezier(.165,.84,.44,1),transform .8s cubic-bezier(.165,.84,.44,1)
			opacity 0
			&.active-top
				opacity 1
				transform scaleY(1) translateY(0)
				// transform translateY(0)
.b3__hoja1
	top 25%
	right 10%
.b3__hoja2
	bottom 10%
	left 0px

.b3__title
	max-width 410px
	width: 100%
	margin auto
	text-align center
	position relative
	padding-bottom 60px
	.general__title
		margin-bottom 20px
	@media screen and (min-width 1025px)
		&.scroll-item
			transform scaleY(1.26) translateY(5rem)
			// transform translateY(5rem)
			transform-origin top center
			will-change transform
			transition opacity .8s cubic-bezier(.165,.84,.44,1),transform .8s cubic-bezier(.165,.84,.44,1)
			opacity 0
			&.active-top
				opacity 1
				transform scaleY(1) translateY(0)
				// transform translateY(0)
	p
		font-size: 20px
		font-family: t-1
		color c-2
		margin 0
	&:before
		content ''
		width: 3px
		height 48px
		background-color c-1
		display block
		position absolute
		left 0px
		right 0px
		margin auto
		bottom 0px
		
.b3__cnt
	padding-top 50px
@keyframes anima_line
	0%
		clip-path inset(0% 94% 100% 0)
	30%
		clip-path inset(0% 94% 0% 0)
	100%
		clip-path inset(0% -7% -5% 0)
.b3__item
	display flex
	align-items center
	position relative
	@media screen and (min-width 1025px)
		&:hover
			.b3__figure__absolute
				opacity 1
		.b3__figure, .b3__text
			transform scaleY(1.26) translateY(5rem)
			// transform translateY(5rem)
			transform-origin top center
			will-change transform
			transition opacity .8s cubic-bezier(.165,.84,.44,1),transform .8s cubic-bezier(.165,.84,.44,1)
			opacity 0
		&.active-top
			.b3__figure
			.b3__text
				opacity 1
				transform scaleY(1) translateY(0)
			.b3__figure
				transition-delay 300ms
			.b3__text
				transition-delay 600ms
				// transform translateY(0)
	&:nth-child(odd)
		// margin-left -100px
		.b3__line
			width: 195px
			height 237px
			background-image url('../img/group-2.svg')
			background-repeat no-repeat
			display block
			position absolute
			left 50%
			top 0px
			z-index: 2
			&:before
				content ''
				width: 20px
				height 20px
				background-color c-1
				border-radius 100%
				position absolute
				right 9px
				bottom 0px
		@media screen and (min-width 1025px)
			.b3__line
				clip-path inset(0% 0 100% 0)
				transition 1000ms all
				&:before
					transition 400ms all linear
					opacity 0
					transform scale(0)
			&.active-top
				.b3__line
					clip-path inset(0% 0 0 0)
					&:before
						transform scale(1)
						transition-delay 800ms
						opacity: 1
				
	&:nth-child(even)
		justify-content flex-end
		margin-top 60px
		.b3__line
			width: 722px
			height 242px
			background-image url('../img/path-17.svg')
			background-repeat no-repeat
			display block
			position absolute
			left calc(50% - 300px)
			top -70px
			z-index: 2
			&:before
				content ''
				width: 20px
				height 20px
				background-color c-1
				border-radius 100%
				position absolute
				right -8px
				bottom -10px
		@media screen and (min-width 1025px)
			.b3__line
				clip-path inset(0% 94% 100% 0)
				&:before
					transition 400ms all linear
					opacity 0
					transform scale(0)
			&.active-top
				.b3__line
					animation anima_line 1500ms forwards linear
					&:before
						transform scale(1)
						transition-delay 1000ms
						opacity: 1
.b3__figure
	position relative
	padding-top 180px
	max-width 500px
	width: 100%
.b3__figure__absolute
	position absolute
	right 0px
	// bottom 20%
	top 0px
	width: 100%
	text-align center
	@media screen and (min-width 1025px)
		opacity 0
		transition 400ms all
	img
		display block
		opacity: 0.9
	&:before
		content ''
		width: 100%
		height 100%
		background-image url('../img/masc-1-OK.png')
		position absolute
		left 0px
		top 0px
		background-size 100% 100%
		z-index: 1
.b3__img
	position relative
	z-index: 2
	max-width 100%
	height auto
	display block
.b3__text
	max-width 230px
	width: 100%
	padding-top 100px
	h2
		font-size: 30px
		font-family: t-4
		color c-1
		padding-bottom 18px
		border-bottom 1px solid c-1
		margin-bottom 21px
	p
		font-size: 15px
		line-height: 1.33
		margin 0
.b3__btn
	padding-top 20px
	display flex
	justify-content flex-start

.b3__btn__bottom
	padding-top 30px
	display flex
	justify-content center

@media screen and (max-width 1280px)
	.b3__item:nth-child(even) .b3__line
		width: 622px
		height 202px
@media screen and (max-width 768px)
	.b3__item:nth-child(even) .b3__line
	.b3__item:nth-child(odd) .b3__line
	.b3__hoja1, .b3__hoja2
		display none
	.b3__item:nth-child(odd)
		margin-left 0
	.b3__item
	.b3__item:nth-child(even)
		justify-content center
@media screen and (max-width 767px)
	.b3__item
		flex-direction column-reverse
		&:nth-child(even)
			margin-top 80px
	.b3__text
		padding-top 0
		max-width 600px
		width: 86%
		p
			text-align justify
	.b3__cnt
		width: 100%
	.b3__title
		width: 86%
	
		
	.b3__figure
		width: 100%
	.b3__text 
		padding-bottom 16px
		h2
			font-size: 25px
			text-align center
		p
			text-align center
	.b3__btn
		justify-content center

















