
.b6
	background-color #f4eee9
.b6__cnt
	padding-top 148px	
	padding-bottom 120px	
.b6__top
	display flex
	justify-content space-between
	align-items flex-end
	padding-bottom 55px
	border-bottom 1px solid c-1
.b6__controls__nav
	display flex
.b6__title
	.general__title
		margin-bottom 15px
		h2
			font-size: 1
	p
		font-size: 20px
		font-family t-1
		margin 0
		color c-2
.b6__controls__nav
	li
		margin-left 78px
	a
		font-size: 20px
		font-family t-1
		color c-1
		opacity 0.3
		line-height: 1.5
		display block
		&.active
			opacity 1

	
.b6__slider
	display flex
	.owl-item
		.b6__slide
			margin 0
			width: 100%
	.owl-nav
		position absolute
		right 0px
		top -16px
		display flex
		align-items center
		background-color #f4eee9
		padding-left 20px
		&.disabled
			display flex
	.owl-prev
	.owl-next
		font-size: 18px
		width: 30px
		height 30px
		text-align center
		color c-1
		display flex
		justify-content center
		align-items center
	.owl-next
		margin-left 30px
.b6__slide
	padding-top 32px
	// max-width 510px
	// width: 100%
	margin-left 180px
	width: calc(100% - 90px)
	&:nth-child(1)
		margin-left 0
.b6__slide__top
	display flex
	align-items flex-end
	ul
		margin 0
		display flex
	li
		font-size: 20px
		font-family t-4
		color c-1
		width: 100px
		position relative
		&:nth-child(1)
			padding-right 30px
			box-sizing border-box
			width: 80px
			color #4f4f4f
			&:after
				content "/"
				position absolute
				right 0px
				bottom 0px
				height 100%
		&:nth-child(2)
			text-align right
.b6__slide__fecha
	width: 56px
	line-height: 0.7
	font-size: 50px
	color c-1
	// color #f4eee9
	font-family t-4
	-webkit-text-stroke: 1px #4f4f4f
	-webkit-text-fill-color: #f4eee9
	// text-shadow 0px 0px 1px c-1
	margin-right 10px
.b6__slide__text
	padding-top 34px
	h3
		font-size: 15px
		font-family t-1
		color c-1
		margin-bottom 30px
		line-height: 1.33
	p
		font-size: 15px
		line-height: 1.47
		margin 0
		min-height 65px
.b6__btn
	padding-top 32px
	display flex
	justify-content flex-start
	
.b6__btn__bottom
	padding-top 85px
	display flex
	justify-content center
	.general__btn
		width: 200px

@media screen and (max-width 768px)
	.b6__top
		flex-direction column
		align-items center
		text-align center
		padding-bottom 30px
	.b6__controls__nav
		padding-top 30px
	.b6__controls__nav 
		li
			margin 0 20px
		// a
		// 	&.active
		// 		text-decoration underline
	.b6__btn__bottom
		padding-top 60px
	.b6__cnt
		padding-top 60px
@media screen and (max-width 767px)
	.b6
		overflow hidden
	.b6__title p
		font-size: 16px
	.b6__slider 
		.owl-nav
			right 0
			width: 100%
			justify-content space-between
			background-color transparent
		.owl-prev
		.owl-next
			background-color #f4eee9
	.b6__slide
		padding-top 42px
	.b6__slide__text p
		text-align justify
	.b6__slide__fecha
		font-size: 40px
	.b6__slide__top 
		li
			width: 90px
			&:nth-child(1)
				width: 80px
				padding-right 20px




















