
.b9
	background-color #f4eee9
	position relative
.b9__cnt
	display flex
	min-height 650px
	align-items center
	justify-content flex-start
.b9__text
	max-width 640px
	width: 100%	
	.general__title
		margin-bottom 40px
.b9__figure
	position absolute
	bottom 0px
	width: calc(50vw + 150px)
	left calc(50vw - 150px)
	img
		display block
		height 100%
		width: auto
		margin 0
.b9__certif
	display flex
	flex-flow row wrap
	padding-top 42px
	padding-left 70px
	img
		margin 0
		margin-left 64px
		margin-bottom 15px
		&:nth-child(3n + 1)
			margin-left 0
.b9__paragraph
	padding-left 70px
	position relative
	max-width 475px
	&:before
		content ''
		width: 45px
		height 3px
		background-color c-1
		position absolute
		left 0px
		top 10px
	p
		font-size: 15px
		margin 0
		line-height: 1.47
@media screen and (max-width 1280px)
	.b9__figure
		height 600px
@media screen and (max-width 1024px)
	.b9__figure
		height 500px
		left 50%
		width: 50vw
		top 0px
		margin auto
	.b9__text
		max-width 50%
@media screen and (max-width 960px)
	.b9__figure
		display none
	.b9__cnt
		justify-content center
		min-height 100%
		padding 60px 0
		.general__title h2
			text-align center
	.b9__paragraph
		padding-left 0
		text-align center
		&:before
			display none
	.b9__paragraph
		padding-left 0
	.b9__text
		max-width 800px
	.b9__certif
		justify-content center
		padding-left 0
		padding-top 30px 
		img
			margin 0 20px
			&:first-child
				margin-left 20px


























