.footer
	background-color #f4eee9

.footer__suscripcion
	display flex
	flex-direction column
	align-items center
	h2
		font-size: 20px
		color c-1
		font-family t-4
		margin 0
	form
		padding-top 22px
		display flex
		align-items center
		max-width 610px
		width: 100%
	.general__btn
		width: 157px
		height 62px
		&:before
			border-radius 0 3px 3px 0
	.general__input
		margin 0
		flex 1
		input
			height 62px
			border-radius 3px 0 0 3px
.footer__cnt
	display flex
	justify-content space-between
	padding-top 100px
	padding-bottom 22px
	border-bottom 1px solid rgba(151, 151, 151, 0.4)
	h3
		font-size: 15px
		font-family t-1
		line-height: 1.73
		margin 0
		margin-bottom 5px
.footer__cnt__links
	display flex
.footer__item
	width: 180px
	margin-left 40px
	&:first-child
		margin-left 0
.footer__ul
	display flex
	flex-direction column
	align-items flex-start
	&:nth-child(2)
		margin-top 25px
	a
		display block
		font-size: 15px
		line-height: 1.73
		&:hover
			text-decoration underline
			color c-1
	ul
		margin 0
	// li
	// 	margin-bottom 5px
.footer__info
	h3
		margin-bottom 0
.footer__info__item
	&:nth-last-child(1)
		margin-top 28px
	h3
		font-family t-0
		margin 0
		line-height: 1.73
	p
		margin 0
		font-size: 18px
		line-height: 1.39
.footer__redes
	display flex
	flex-direction column
	figure
		margin-top 0
		margin-bottom 0
		img
			display block
.footer__social
	display flex
	align-items center
	justify-content flex-end
	padding-top 20px
	margin-top 0
	margin-bottom 0
	span
		margin 0
		margin-right 14px
	ul
		margin 0
		display flex
		align-items center
	li
		margin-left 10px
	a
		font-size: 24px
.footer__redes__mail
	margin-bottom 0
	margin-top auto
	text-align right


// creditos
// .footer-copy
.footer-copy-cnt
	display flex
	justify-content center
	height 38px
	align-items center
.footer-copy-left
.footer-copy-right
	p,a
		margin 0
		font-size: 12px
		color #979797
		opacity 0.6
		display inline-block
.footer-copy-left
	margin-right 10px
.staffcreativa
	position relative
	padding-right 0.45em
	transition-all()
	font-family 'arial'
	&:after
		content '\e60e'
		font-family icomoon
		font-size 0.7em
		font-style normal
		font-variant normal
		font-weight normal
		line-height 1
		position absolute
		right 0
		speak none
		text-transform none
		top 0.1em
.link-staff
	&:hover .staffcreativa
		color #000

@media screen and (max-width: 1280px)
	.footer__item
		width: 160px
		margin-left 20px
@media screen and (max-width: 1024px)
	.footer__item
		margin-left 0
		&:nth-child(1)
		&:nth-child(2)
			display none
@media screen and (max-width: 768px)
	.footer__suscripcion form
		max-width 100%
@media screen and (max-width: 767px)
	.footer__cnt
		flex-flow row wrap
		padding-top 60px
	.footer__redes
		width: 100%
		padding-top 30px
		figure
			display none
	.footer__social
		justify-content center
	.footer__redes__mail
		text-align center
		padding-top 10px
	.footer-copy-cnt
		flex-direction column
	.footer-copy
		padding 10px 0
@media screen and (max-width: 620px)
	.footer__suscripcion 
		form
			flex-direction column
		.general__input
			width: 100%
		.general__btn
			margin-top 16px