.wspd{
  position: fixed;
  bottom:25px;
  right:25px;
}
.wspd .icon{
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wspd .icon span{
  display: block;
  height: 60px;
  width: 60px;
  background: green;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wspd .icon span i{
  line-height: 60px;
  font-size: 25px;
}
.wspd .icon .tooltip{
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wspd .icon:hover .tooltip{
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.wspd .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wspd .icon:hover span{
  color: #fff;
}
.wspd .icon:hover span,
.wspd .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wspd .facebook:hover span,
.wspd .facebook:hover .tooltip,
.wspd .facebook:hover .tooltip:before{
  background: #3B5999;
}