@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s9cn4o');
  src:  url('fonts/icomoon.eot?s9cn4o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s9cn4o') format('truetype'),
    url('fonts/icomoon.woff?s9cn4o') format('woff'),
    url('fonts/icomoon.svg?s9cn4o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baseline-airplanemode_active-24px:before {
  content: "\e900";
}
.icon-baseline-chevron_right-24px:before {
  content: "\e901";
}
.icon-baseline-local_phone-24px:before {
  content: "\e902";
}
.icon-baseline-local_post_office-24px:before {
  content: "\e903";
}
.icon-baseline-place-24px:before {
  content: "\e904";
}
.icon-baseline-schedule-24px:before {
  content: "\e907";
}
.icon-baseline-store_mall_directory-24px-2:before {
  content: "\e90a";
}
.icon-baseline-store_mall_directory-24px-3:before {
  content: "\e90b";
}
.icon-facebook-app-logo:before {
  content: "\e90c";
}
.icon-flecha-2:before {
  content: "\e90d";
}
.icon-Group-4-2:before {
  content: "\e90e";
}
.icon-Group-4:before {
  content: "\e90f";
}
.icon-Group-6:before {
  content: "\e910";
}
.icon-Group-11:before {
  content: "\e911";
}
.icon-outline-clear-24px:before {
  content: "\e912";
}
.icon-outline-create-24px:before {
  content: "\e913";
}
.icon-outline-delete_sweep-24px:before {
  content: "\e914";
}
.icon-Path-6:before {
  content: "\e915";
}
.icon-Path-13:before {
  content: "\e916";
}
.icon-Path-26-2:before {
  content: "\e917";
}
.icon-Path-26:before {
  content: "\e918";
}
.icon-Path26:before {
  content: "\e919";
}
.icon-whatsapp1:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e905";
}
.icon-cancel:before {
  content: "\e909";
}
.icon-menu1:before {
  content: "\e908";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube:before {
  content: "\e601";
}
