.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.nosotros-css .footer {
  background-color: #06160d;
}
.nosotros-css .footer__suscripcion {
  display: none;
}
.b10 {
  background-color: #06160d;
  padding-top: 110px;
}
.b10__title {
  text-align: center;
  padding-bottom: 45px;
}
.b10__nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: 45px;
}
.b10__nav li {
  margin: 0 12px;
}
.b10__nav .general__btn {
  background-color: #fff;
}
.b10__nav .general__btn:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b10__nav .general__btn span {
  color: #787878;
}
.b10__nav .general__btn.active:before {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b10__nav .general__btn.active span {
  color: #fff;
}
.b10__cnt__slider {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.b10__center {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.b10__item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b10__item.active {
  position: relative;
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b10__slider .owl-nav {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  visibility: hidden;
}
.b10__slider .owl-next,
.b10__slider .owl-prev {
  color: #fff;
  font-size: 50px;
  visibility: visible;
}
.b10__slide {
  position: relative;
}
.b10__slide figure {
  padding-top: 37.9%;
  width: 100%;
  height: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.b10__slide figure:before {
  content: '';
  width: 100%;
  height: 70%;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.9) 94%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.9) 94%);
  background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.9) 94%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.9) 94%);
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9) 94%);
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.b10__slide__text {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: 0px;
  width: 100%;
  text-align: center;
  max-width: 740px;
  width: 94%;
  padding-bottom: 60px;
}
.b10__slide__text .general__title h2 {
  line-height: 1;
  margin-bottom: 16px;
}
.b10__slide__text .general__title p {
  font-size: 20px;
  font-family: 'Graphik-Semibold', sans-serif;
  color: #fff;
  margin: 0;
}
.b1__cnt__tab {
  max-width: 640px;
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: 45px;
  z-index: 2;
  min-height: 180px;
}
.b1__cnt__tab:before {
  content: '';
  width: 3px;
  height: 55px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  top: -80px;
}
.b10__tab {
  left: 0px;
  top: 0px;
  width: 100%;
}
.b10__tab p {
  color: #fff;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  margin: 0;
  line-height: 1.47;
  font-size: 15px;
  text-align: center;
}
.b10__btn {
  padding-top: 23px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.b10__btn .general__btn {
  width: 216px;
}
@media screen and (max-width: 960px) {
  .b10__slide figure {
    padding-top: 60%;
  }
  .b1__cnt__tab {
    width: 86%;
    margin: auto;
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .b10 {
    padding-top: 60px;
  }
  .b10__nav .general__btn {
    padding: 0 10px;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .b10__slide figure {
    padding-top: 80%;
  }
  .b1__slide__text .general__title p {
    font-size: 16px;
  }
  .b10__slider .owl-nav {
    padding: 0 20px;
    padding-bottom: 30px;
  }
  .b10__slider .owl-next,
  .b10__slider .owl-prev {
    font-size: 35px;
  }
  .b1__cnt__tab {
    margin-top: 60px;
  }
  .b1__cnt__tab:before {
    top: -90px;
  }
  .b10__slide__text .general__title h2 {
    margin-bottom: 5px;
  }
  .b10__slide__text .general__title p {
    font-size: 18px;
  }
}
