.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.equipo-css .footer {
  background-color: #fff;
}
.equipo-css .footer__suscripcion {
  display: none;
}
.b11 {
  padding-top: 30px;
}
.b11__title {
  text-align: center;
  position: relative;
  padding-bottom: 60px;
}
.b11__title:before {
  content: '';
  width: 3px;
  height: 44px;
  background-color: #245e3c;
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: 0px;
}
.b11__cnt__items {
  padding-top: 42px;
  padding-bottom: 56px;
}
.b11__cnt__items,
.b11__item__presidente,
.b11__item__gerente {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.b11__item__presidente,
.b11__item__gerente {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.b11__item__presidente .b11__item {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #fff;
  margin-left: 0;
}
.b11__item__presidente .b11__item figure {
  overflow: hidden;
  height: 192px;
}
.b11__item__presidente .b11__item img {
  height: 100%;
  width: auto;
  filter: grayscale(100%);
  position: relative;
}
.b11__item__presidente .b11__text {
  max-width: 378px;
  width: 100%;
  text-align: left;
  margin-left: 50px;
  padding-top: 0px;
  padding-right: 12px;
}
.b11__item__presidente .b11__text h3 {
  font-size: 20px;
}
.b11__item__presidente .b11__text p {
  font-size: 25px;
}
.b11__item__gerente .b11__item {
  width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #fff;
  margin-left: 24px;
}
@media screen and (min-width: 961px) and (max-width: 2666px) {
  .b11__item__gerente .b11__item:nth-of-type(3n + 1) {
    margin-left: 0;
  }
}
.b11__item__gerente .b11__text {
  text-align: left;
  padding-top: 0px;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 260px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 55%;
}
@media screen and (min-width: 1025px) and (max-width: 2666px) {
  .b11__cnt__items >a {
    width: calc(16.6666666667% - 20px);
    margin-left: 24px;
  }
  .b11__cnt__items >a:nth-of-type(6n + 1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .b11__cnt__items >a {
    width: calc(20% - 19.2px);
    margin-left: 24px;
  }
  .b11__cnt__items >a:nth-of-type(5n + 1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .b11__cnt__items >a {
    width: calc(25% - 18px);
    margin-left: 24px;
  }
  .b11__cnt__items >a:nth-of-type(4n + 1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .b11__cnt__items >a {
    width: calc(50% - 6px);
    margin-left: 12px;
  }
  .b11__cnt__items >a:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
.b11__item {
  margin: 0;
  border: 26px solid #f6f6f6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f6f6f6;
  margin-bottom: 24px;
}
.b11__item figure {
  margin: 0;
}
.b11__item img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b11__text {
  text-align: center;
  padding-top: 14px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.b11__text h3 {
  color: #245e3c;
  font-size: 20px;
  line-height: 1.27;
  margin-bottom: 5px;
}
.b11__text p {
  font-size: 20px;
  font-family: 'Graphik-Semibold', sans-serif;
  margin: 0;
}
.b11__btn {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.b11__btn .general__btn {
  width: 236px;
}
.popup__cnt {
  display: none;
  max-width: 686px;
  width: 100%;
  position: relative;
  background-color: #f6f6f6;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.popup__cnt .close-boxlight {
  top: -50px;
  right: 0px;
  border: 0;
  background-color: #f6f6f6;
  border-radius: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  line-height: 1;
  height: 31px;
  width: 31px;
}
.popup__cnt .close-boxlight:after {
  content: "\e912";
  font-family: 'icomoon';
  font-size: 16px;
}
.popup__center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.popup__center.organigrama figure {
  max-width: 650px;
  width: 100%;
}
.popup__center figure {
  width: 228px;
}
.popup__center figure img {
  width: 100%;
  height: auto;
  display: block;
}
.popup__center .b11__text {
  text-align: left;
  padding-left: 42px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.popup__center .b11__text h3 {
  color: #245e3c;
  margin-bottom: 9px;
}
.popup__center .b11__text h2 {
  font-size: 25px;
  color: #245e3c;
  line-height: 1.2;
  padding-bottom: 20px;
  margin: 0;
  border-bottom: 1px solid #979797;
  margin-bottom: 20px;
  font-family: 'DomaineDispSemibold', sans-serif;
}
.popup__center ul {
  padding-bottom: 26px;
}
.popup__center ul li {
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
}
.popup__center ul a {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.popup__center ul a i {
  width: 25px;
  margin: 0;
  font-size: 12px;
  padding-top: 3px;
}
.popup__center ul a span {
  margin: 0;
}
.popup__center p {
  font-size: 20px;
  line-height: 1.3;
  font-family: 'Graphik-Regular', sans-serif;
}
@media screen and (max-width: 1440px) {
  .popup__cnt {
    max-width: 550px;
  }
  .popup__cnt .close-boxlight {
    top: 5px;
  }
}
@media screen and (max-width: 960px) {
  .b11__item__gerente .b11__item {
    width: 100%;
    -webkit-box-flex: inherit;
    -moz-box-flex: inherit;
    -o-box-flex: inherit;
    box-flex: inherit;
    -webkit-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    margin-left: 0;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .b11__text {
    -webkit-box-flex: inherit;
    -moz-box-flex: inherit;
    -o-box-flex: inherit;
    box-flex: inherit;
    -webkit-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
  }
  .b11__item__presidente .b11__text {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 20px;
  }
  .b11__item__presidente .b11__text p {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .b11__item__gerente .b11__text,
  .b11__item__presidente .b11__text {
    max-width: 200px;
    width: 100%;
  }
  .b11__item__presidente .b11__text h3,
  .b11__item__presidente .b11__text p {
    font-size: 20x;
  }
}
@media screen and (max-width: 767px) {
  .b11__item__presidente .b11__item img {
    height: 200px;
  }
  .b11__item__presidente .b11__item figure {
    height: 175px;
  }
  .b11__item__presidente .b11__text {
    max-width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .b11__item__gerente .b11__item figure {
    width: 165px;
  }
  .b11__item__gerente .b11__text {
    max-width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .popup__cnt {
    padding: 30px;
  }
  .popup__center {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .popup__center .b11__text {
    padding-left: 0;
    padding-top: 20px;
  }
  .popup__center .b11__text h2 {
    line-height: 1.3;
  }
  .popup__cnt .close-boxlight {
    top: 10px;
    right: 10px;
  }
}
