.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
body.contacto-padding .b20__cnt {
  padding-bottom: 0;
}
.contacto-css .header__cnt__top {
  background-color: #fff;
}
.contacto-css .header {
  background-color: #f4eee9;
}
.contacto-css .footer__suscripcion {
  display: none;
}
.ayuda-css .header__cnt__top {
  background-color: #f9f9f9;
}
.ayuda-css .footer__suscripcion {
  display: none;
}
.ayuda-css .footer {
  background-color: #fff;
}
.b20 {
  padding-top: 53px;
  background-color: #f4eee9;
}
.b20 .b2__text p {
  max-width: 384px;
  width: 100%;
}
.b20 .b2__cnt {
  padding-bottom: 44px;
}
.b20.b20__ayuda {
  background-color: #fff;
}
.b20.b20__ayuda .b2__text {
  max-width: 700px;
}
.b20.b20__denuncias .b22-info,
.b20.b20__denuncias p {
  max-width: 100%;
}
.b20.b20__denuncias .b2__text {
  max-width: 720px;
}
.b20-block-last {
  position: absolute;
  bottom: 85px;
  left: 0;
  right: 0;
  margin: auto;
  width: 85%;
}
.b20-boton-form {
  position: absolute;
  right: 50px;
  bottom: 77px;
  z-index: 300;
}
.b20__cnt {
  max-width: 996px;
  width: 100%;
  background: rgba(251,251,251,0.82);
  margin: auto;
  padding-bottom: 440px;
  position: relative;
}
.b20__cnt form {
  max-width: 996px;
  width: 100%;
  margin: auto;
  background-color: rgba(251,251,251,0.82);
  padding: 65px 78px 55px 78px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
}
.b20__cnt form.b20__form1 {
  padding-bottom: 0;
}
.b20__form2 {
  max-width: 100%;
  max-width: 996px;
  width: 100%;
  margin: auto;
  background-color: rgba(251,251,251,0.82);
  padding: 0px 78px 55px 78px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b20__form2 form {
  background-color: transparent;
  padding: 0;
}
.b20__select {
  margin-bottom: 22px;
}
.b20__select select {
  display: none;
}
.b20__selectBox {
  position: relative;
}
.b20__clickSelect {
  width: 100%;
  height: 48px;
  border: 1px solid #e8e9ed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  border-radius: 2px;
  position: relative;
  padding: 0 30px 0 23px;
  border: 1px solid #b9b9b9;
  background-color: transparent;
}
@media screen and (min-width: 1025px) {
  .b20__clickSelect:hover {
    border-color: rgba(36,98,62,0.6);
  }
}
.b20__clickSelect:before {
  content: '\e901';
  font-family: 'icomoon';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 7px;
  color: #245e3c;
  pointer-events: none;
}
.b20__clickSelect span {
  margin: 0;
  font-size: 14px;
  color: #a0a0a0;
  font-family: 'Graphik-Regular', sans-serif;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.b20__clickSelect i {
  width: 60px;
  height: 60px;
  -webkit-background-size: 90% auto;
  -moz-background-size: 90% auto;
  background-size: 90% auto;
  background-position: center center;
  display: block;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.b20__clickSelect.active {
  border-color: #06160d;
  border-bottom: 0;
  -webkit-box-shadow: 0 3px 9px 0 rgba(30,32,42,0.15);
  box-shadow: 0 3px 9px 0 rgba(30,32,42,0.15);
  border-radius: 2px 2px 0 0;
}
.b20__selectList {
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  border: 1px solid #06160d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0;
  max-height: 240px;
  overflow: auto;
}
.b20__data {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
  border-top: 1px solid #eaeaea;
}
.b20__data:first-child {
  border-top: 0;
}
.b20__data span {
  margin: 0;
  font-size: 14px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.b20__data i {
  width: 60px;
  height: 60px;
  -webkit-background-size: 90% auto;
  -moz-background-size: 90% auto;
  background-size: 90% auto;
  background-position: center center;
  display: block;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.b20__data.active {
  background-color: rgba(0,79,134,0.15);
}
.b20__data.active span {
  font-family: 'Graphik-Semibold', sans-serif;
}
@media screen and (min-width: 1025px) {
  .b20__data:hover {
    background-color: rgba(0,79,134,0.05);
  }
}
.b20__row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.b20__row >div {
  width: calc(50% - 8px);
  position: relative;
}
.b20__select__ctn,
.b20__input,
.b20__textarea {
  position: relative;
  margin-bottom: 22px;
/* WebKit */
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -o-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.b20__select__ctn ::-webkit-input-placeholder,
.b20__input ::-webkit-input-placeholder,
.b20__textarea ::-webkit-input-placeholder {
  color: #a0a0a0;
  font-family: 'Graphik-Regular', sans-serif;
}
.b20__select__ctn :-moz-placeholder,
.b20__input :-moz-placeholder,
.b20__textarea :-moz-placeholder {
  color: #a0a0a0;
  font-family: 'Graphik-Regular', sans-serif;
}
.b20__select__ctn ::-moz-placeholder,
.b20__input ::-moz-placeholder,
.b20__textarea ::-moz-placeholder {
  color: #a0a0a0;
  font-family: 'Graphik-Regular', sans-serif;
}
.b20__select__ctn :-ms-input-placeholder,
.b20__input :-ms-input-placeholder,
.b20__textarea :-ms-input-placeholder {
  color: #a0a0a0;
  font-family: 'Graphik-Regular', sans-serif;
}
.b20__select__ctn input,
.b20__input input,
.b20__textarea input,
.b20__select__ctn select,
.b20__input select,
.b20__textarea select,
.b20__select__ctn textarea,
.b20__input textarea,
.b20__textarea textarea {
  width: 100%;
  height: 52px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px 15px 0 23px;
  border: 1px solid #b9b9b9;
  border-radius: 2px;
  color: #a0a0a0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  font-family: 'Graphik-Regular', sans-serif;
  background-color: transparent;
}
@media screen and (min-width: 1025px) {
  .b20__select__ctn input,
  .b20__input input,
  .b20__textarea input,
  .b20__select__ctn select,
  .b20__input select,
  .b20__textarea select,
  .b20__select__ctn textarea,
  .b20__input textarea,
  .b20__textarea textarea {
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -o-transition: 300ms all;
    -ms-transition: 300ms all;
    transition: 300ms all;
  }
  .b20__select__ctn input:hover,
  .b20__input input:hover,
  .b20__textarea input:hover,
  .b20__select__ctn select:hover,
  .b20__input select:hover,
  .b20__textarea select:hover,
  .b20__select__ctn textarea:hover,
  .b20__input textarea:hover,
  .b20__textarea textarea:hover {
    border-color: #06160d;
  }
}
.b20__select__ctn input:focus,
.b20__input input:focus,
.b20__textarea input:focus,
.b20__select__ctn select:focus,
.b20__input select:focus,
.b20__textarea select:focus,
.b20__select__ctn textarea:focus,
.b20__input textarea:focus,
.b20__textarea textarea:focus {
  border-color: #06160d;
  color: #06160d;
  -webkit-box-shadow: 0 3px 9px 0 rgba(30,32,42,0.15);
  box-shadow: 0 3px 9px 0 rgba(30,32,42,0.15);
}
.b20__select__ctn input:focus +label,
.b20__input input:focus +label,
.b20__textarea input:focus +label,
.b20__select__ctn select:focus +label,
.b20__input select:focus +label,
.b20__textarea select:focus +label,
.b20__select__ctn textarea:focus +label,
.b20__input textarea:focus +label,
.b20__textarea textarea:focus +label {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  font-size: 11px;
}
.b20__select__ctn.active input,
.b20__input.active input,
.b20__textarea.active input,
.b20__select__ctn.active select,
.b20__input.active select,
.b20__textarea.active select {
  border-color: #06160d;
  color: #06160d;
}
.b20__select__ctn.active input +label,
.b20__input.active input +label,
.b20__textarea.active input +label,
.b20__select__ctn.active select +label,
.b20__input.active select +label,
.b20__textarea.active select +label {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  font-size: 11px;
}
.b20__select__ctn label,
.b20__input label,
.b20__textarea label {
  font-size: 15px;
  color: #a0a0a0;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 23px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
}
.b20__select__ctn label.fijar,
.b20__input label.fijar,
.b20__textarea label.fijar {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  font-size: 11px;
}
.b20__select__ctn select {
  cursor: pointer;
  background: transparent;
  padding-top: 0;
}
.b20__select__ctn:before {
  content: '\e90d';
  font-family: 'icomoon';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 8px;
  color: #a3a3a3;
  pointer-events: none;
}
.b20__textarea textarea {
  width: 100%;
  height: 114px;
  padding-top: 20px;
  font-size: 15px;
  color: #a0a0a0;
}
.b20__options {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.b20__options >span {
  font-size: 15px;
  font-family: 'Graphik-Semibold', sans-serif;
  margin: 0;
  margin-right: 40px;
  padding-top: 4px;
}
.b20__options ul {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.b20__options ul li {
  margin: 0;
  margin-left: 30px;
  position: relative;
  padding-top: 4px;
  white-space: nowrap;
  margin-bottom: 10px;
}
@media screen and (min-width: 1025px) {
  .b20__options ul li:first-child {
    margin-left: 0;
  }
}
.b20__options ul input {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b20__options ul input:checked +label span {
  border-color: #245e3c;
}
.b20__options ul input:checked +label span:before {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b20__options ul input:checked +label {
  color: #245e3c;
}
.b20__options ul label {
  font-family: 'Graphik-Semibold', sans-serif;
  font-size: 15px;
  position: relative;
  padding-left: 34px;
  padding-top: 4px;
}
.b20__options ul span {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  border: 1px solid #787878;
  border-radius: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b20__options ul span:before {
  content: '';
  width: 13px;
  height: 13px;
  background-color: #245e3c;
  border-radius: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b20__item__termino .b20__relative {
  margin-bottom: 14px;
}
.b20__terminos {
  margin-top: 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.b20__relative {
  position: relative;
}
.b20__relative input {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b20__relative input:checked +label:before {
  font-size: 8px;
  border-color: #3d4a58;
}
.b20__relative label {
  padding-left: 25px;
  position: relative;
  display: block;
  font-size: 15px;
  color: #848b9e;
  padding-top: 1px;
}
.b20__relative label:before {
  content: '\e916';
  font-family: 'icomoon';
  width: 18px;
  height: 18px;
  font-size: 0px;
  border-radius: 2px;
  border: 1px solid #a3a3a3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #000;
  font-weight: bold;
}
@media screen and (min-width: 1025px) {
  .b20__relative label:hover:before {
    border-color: #3d4a58;
  }
}
.b20__relative label a {
  color: #848b9e;
  text-decoration: underline;
}
.b20__btn .general__btn {
  width: 202px;
}
.b20__cnt__items {
  max-width: 996px;
  padding-top: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.b20__cnt__items ul {
  margin: 0;
  width: calc(50% - 12px);
  border-top: 1px solid rgba(151,151,151,0.24);
}
.b20__item {
  min-height: 138px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 12px 66px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(151,151,151,0.24);
}
.b20__item figure {
  font-size: 45px;
  color: #245e3c;
}
.b20__item figure.icon-Group-4 {
  font-size: 53px;
}
.b20__text {
  padding-left: 33px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.b20__text p {
  margin: 0;
  font-size: 15px;
  line-height: 1.53;
  color: #787878;
}
.b20__text p a:hover {
  text-decoration: underline;
}
.b20__redes {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 70px;
}
.b20__facebook {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.b20__facebook i {
  font-size: 25px;
  margin-right: 6px;
}
.b20__facebook p {
  margin: 0;
  font-size: 15px;
  line-height: 1.53;
}
.b20__facebook p strong {
  font-weight: normal;
  font-family: 'Graphik-Semibold', sans-serif;
}
@media screen and (max-width: 1024px) {
  .b20__item {
    padding: 12px 30px;
  }
  .b20__options ul {
    margin-top: 1%;
  }
}
@media screen and (max-width: 768px) {
  .b20__cnt form {
    padding: 60px 30px;
  }
  .b20__options {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .b20__options span {
    margin-bottom: 16px;
  }
  .b20__item {
    padding: 12px 20px;
  }
  .b20__text p {
    font-size: 14px;
  }
  .b20__facebook p {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .b20 .b2__cnt {
    padding-bottom: 30px;
  }
  .b20 .b2__text .general__title {
    margin-bottom: 0;
  }
  .b20__row {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .b20__row >div {
    width: 100%;
  }
  .b20__input,
  .b20__textarea {
    margin-bottom: 10px;
  }
  .b20__options ul label {
    font-size: 11px;
    padding-top: 6px;
  }
  .b20__options ul {
    margin-top: 2%;
  }
  .b20 .b20__relative {
    margin-top: 10px;
  }
  .b20__cnt form {
    padding: 30px 7%;
  }
  .b20__form2 {
    padding: 0px 7% 60px 7%;
  }
  .b20__form2 form {
    padding: 0;
  }
  .b20__terminos {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .b20__btn {
    padding-top: 30px;
  }
  .b20__options ul li:nth-child(3n + 1) {
    margin-left: 0;
  }
  .b20__cnt__items {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .b20__cnt__items ul {
    width: 100%;
  }
  .b20__text {
    padding-left: 20px;
  }
  .b20__item {
    padding: 12px 15px;
figure
    font-size: 35px;
  }
  .b20__facebook {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .b20__facebook i {
    margin-bottom: 10px;
  }
  .b20 .b20__terminos {
    margin-top: 40px !important;
  }
  .b20-boton-form {
    bottom: 17px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .b20-block-last {
    bottom: 118px;
  }
}
