.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b22 {
  margin-bottom: 195px;
}
.b22 .select2-container--default .select2-search--inline .select2-search__field {
  height: 30px;
  margin-top: 0;
}
.b22 .select2-container--default .select2-selection--multiple {
  min-height: 81px;
}
.b22-title {
  text-align: center;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}
.b22-title p {
  font-family: 'Graphik-Regular', sans-serif;
  font-size: 14px;
  color: #585757;
  line-height: 1.7;
  margin-top: 47px;
}
.b22-title p strong {
  color: #000;
}
.b22-tabs {
  margin-top: 70px;
}
.b22-text {
  margin: auto;
  margin-top: 40px;
  max-width: 780px;
}
.b22-text p {
  line-height: 1.73;
  text-align: center;
  margin: 0;
}
.b22-form {
  max-width: 975px;
  margin: auto;
}
.b22-tab-wrap {
  display: none;
}
.b22-tab-wrap.active {
  display: block;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.b22 .f-wrap {
  border: 1px solid rgba(170,170,170,0.8);
}
.b22 .select2-container--default .select2-selection--multiple {
  border: 1px solid rgba(170,170,170,0.8) !important;
}
.b22 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #aeaeae;
  border-radius: 50%;
  border: 1px solid #aeaeae;
  width: 15px;
  height: 15px;
  display: block;
  text-align: center;
  float: right;
  margin-left: 5px;
  line-height: 15px;
  font-size: 0px;
  border: 0px;
}
.b22 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:before {
  content: '\e901';
  font-family: 'icomoon';
  font-size: 15px;
  color: #1489ff;
  position: absolute;
  top: 50%;
  right: 14px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.b22 .select2-container--default .select2-selection--multiple .select2-selection__choice {
  position: relative;
  background: rgba(20,137,255,0.24);
}
.b22 .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  border: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 9px 20px;
  color: #1489ff;
  font-size: 14px;
}
.b20 .b22-icons {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.b20 .b22-icons a {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  border-radius: 50%;
}
.b20 .b22-icons a:first-child {
  margin-right: 15px;
}
.b20 .b22-icons a span {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.b20 .b22-icons a span:before {
  font-size: 20px;
  color: #979797;
}
.b20 .b22-icons a:last-child span:before {
  color: #fa948b;
}
.b20 .b22-delete-form {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
  border: 1px solid #979797;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 2;
}
.b20 .form-input-btn.bloque {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.b20 .form-input-btn.bloque .form-btn {
  margin-top: 0;
}
.b20 .form-input-btn.bloque .g-checkbox-label label {
  font-size: 15px;
}
.b20 .form-cuartos .form-text-file {
  padding-left: 0;
}
.b20 .form-cuartos .form-text-file.hidden {
  display: none;
}
.b20 .form-cuartos .tooltip {
  height: 52px;
  max-width: 453px;
  width: 100%;
  background: rgba(20,137,255,0.14);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-left: 47px;
  position: relative;
  border-radius: 2px;
}
.b20 .form-cuartos .tooltip:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 20px solid #deeeff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  left: -19px;
}
.b20 .form-cuartos .tooltip span {
  margin: 0;
  margin-right: 17px;
  margin-left: 40px;
}
.b20 .form-cuartos .tooltip span:before {
  font-size: 22px;
}
.b20 .form-cuartos .tooltip-text p {
  margin: auto;
  font-size: 13px;
  line-height: 1.15;
  color: #1489ff;
}
.b20 .form-cuartos .form-item.text-file {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  width: 0px;
  height: 0px;
  position: absolute;
}
.b20 .form-cuartos .form-item:first-child {
  padding-left: 20px;
}
.b20 .form-cuartos .form-item.load-file {
  padding-left: 0;
  max-width: 324px;
  width: 100%;
  margin-left: 0;
  height: 52px;
  border: 1px solid #1489ff;
  font-size: 13px;
}
.b22-tab-click-wrap.disabled {
  pointer-events: none;
  cursor: default;
}
.b22-resumen {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.b22-resumen h2 {
  font-size: 15px;
  font-family: 'Graphik-Semibold', sans-serif;
  color: #787878;
  margin: auto 0 0 0;
  line-height: 1.47;
}
.b22-resumen h2 span {
  font-size: 14px;
  font-family: 'Graphik-Regular', sans-serif;
  display: inline-block;
  width: 100%;
}
.b22-resumen.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  position: relative;
}
.b20 .form-duo .form-item:first-child {
  margin-right: 0;
}
.b20 .form-group-item {
  margin-bottom: 30px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  position: relative;
}
.b20 .form-group-item .g-input {
  height: 58px;
}
.b20 .form-group-item.active {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.b20 .form-add-item {
  background: rgba(216,216,216,0.13);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 55px;
  position: relative;
  margin-top: 25px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  pointer-events: none;
}
.b20 .form-add-item.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  pointer-events: all;
}
.b20 .form-add-item span {
  color: #207443;
  font-size: 14px;
  text-decoration: underline;
  font-family: 'Graphik-Regular', sans-serif;
  margin: 0;
  margin-left: 10px;
}
.b20 .form-add-item i {
  color: #207443;
  border: 0px;
  font-size: 18px;
}
.b22-set-radio {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  max-width: 740px;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.b22-set-radio strong {
  font-family: 'DomaineDisp-Regular', sans-serif;
  font-size: 15px;
  color: #151516;
  font-weight: normal;
  width: 95px;
}
.b22-box-radio {
  max-width: 300px;
  width: 100%;
}
.b22-box-radio:first-child {
  margin-right: 12px;
}
.b22-box-radio:last-child {
  margin-left: 12px;
}
.b22-box-radio input[type="radio"] {
  display: none;
}
.b22-box-radio input[type="radio"]:checked + label {
  background: #1489ff;
  color: #fff;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.b22-box-radio input[type="radio"]:checked + label:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b22-box-radio input[type="radio"]:checked + label:before {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.b22-box-radio input[type="radio"]:checked + label:after {
  background: #fff;
}
.b22-box-radio label {
  font-family: 'Graphik-Bold', sans-serif;
  font-size: 14px;
  color: #000;
  padding-left: 30px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  max-width: 300px;
  width: 100%;
  height: 52px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #e3e3e3;
}
.b22-box-radio label:before {
  content: "";
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 80px;
  top: 14px;
  border-radius: 50%;
  background-color: #fff;
  background: transparent;
}
.b22-box-radio label:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 86px;
  width: 10px;
  height: 10px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background-color: #000;
  border-radius: 50%;
}
.b22-wrap-form {
  position: relative;
  margin-bottom: 22px;
}
.b22-wrap-form.clone {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.b22-wrap-form.guardado .b22-delete-form {
  display: none;
}
.b22-wrap-form.principal .form-eliminar {
  display: none;
}
.b22-wrap-info,
.b22-servicio-wrap,
.b22-sociales-wrap,
.b22-wrap-form {
  width: 100%;
  padding: 44px 75px;
  border: 1px solid rgba(151,151,151,0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b22-servicio-wrap {
  padding: 30px 75px;
  padding-bottom: 30px;
}
.b22-servicio-wrap .select2 {
  margin-bottom: 30px;
}
.b22-servicio-wrap h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: 'Graphik-Regular', sans-serif;
}
.b22-sociales-wrap,
.b22-wrap-form {
  padding: 30px 75px;
}
.b22-wrap-form h1 {
  margin-bottom: 40px;
}
.b22-wrap-form .form-btn a {
  max-width: 225px;
  height: 52px;
  background: #fff;
  color: #1489ff;
  border: 1px solid #1489ff;
  border-radius: 5px;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 0 0 auto;
}
.b22-wrap-checks {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border: 1px solid rgba(151,151,151,0.3);
  border-radius: 4px;
  padding: 42px 37px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 58px;
}
.b22-set-checks {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-right: 65px;
  max-width: 180px;
  width: 100%;
}
.b22-title-form {
  font-size: 15px;
  font-family: 'DomaineDispSemibold', sans-serif;
  line-height: 15px;
  color: #18181c;
  margin: auto;
  margin-bottom: 15px;
}
.b22-box-check {
  width: 100%;
  min-height: 42px;
  position: relative;
  margin-bottom: 10px;
}
.b22-box-check.active label {
  border: 1px solid #207443;
  color: #fff;
  color: #207443;
}
.b22-box-check.active label:before {
  background-color: #207443;
  border: 1px solid #fff;
}
.b22-box-check.active label:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b22-box-check.contador label span {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.b22-box-check label {
  height: 42px;
}
.b22-box-check.disabled label {
  border: 1px solid rgba(88,87,87,0.15) !important;
  color: rgba(88,87,87,0.15) !important;
  background-color: #fff !important;
}
.b22-box-check.disabled label:before,
.b22-box-check.disabled label:after {
  border: 1px solid rgba(88,87,87,0.15) !important;
  background-color: #fff !important;
}
.b22-box-check input[type="checkbox"] {
  display: none;
}
.b22-box-check label {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px 20px;
  margin: 0;
  background-color: transparent;
  border-radius: 4px;
  font-family: 'Graphik-Bold', sans-serif;
  font-size: 13px;
  color: #585757;
  text-transform: uppercase;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #bfbfbf;
}
.b22-box-check label span {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #1489ff;
  color: #1489ff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.b22-box-check label span i {
  font-style: normal;
}
.b22-box-check.blocked:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.b22-set-rubros {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: 650px;
  width: 100%;
}
.b22-check-rubro {
  position: relative;
  margin-bottom: 20px;
  width: 45%;
}
.b22-check-rubro input[type="checkbox"] {
  display: none;
}
.b22-check-rubro input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b22-check-rubro label {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 30px;
  margin: 0;
  border-radius: 4px;
  font-family: 'Graphik-Regular', sans-serif;
  font-size: 13px;
  color: #585757;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b22-check-rubro label:before {
  content: "";
  border: 1px solid #bfbfbf;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: transparent;
}
.b22-check-rubro label:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 2px;
  left: 6px;
  margin: auto 0;
  width: 2px;
  height: 7px;
  border: solid #585757;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b22-check-rubro {
  display: none;
}
.b22-check-rubro.active {
  display: block;
}
.b22-check-rubro.fijo {
  display: block;
}
.b22-info {
  max-width: 384px;
  width: 100%;
  margin: auto;
  margin-bottom: 65px;
}
.b22-form-content-all {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 80px;
  padding-bottom: 100px;
}
.b20 .form-add-item {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  pointer-events: none;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.b20 .form-add-item.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  pointer-events: all;
}
.b20 .b20__options {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.b20 .b20__options.informe {
  padding-bottom: 22px;
}
.b20 .b20__options.deseo {
  padding-bottom: 55px;
}
.b20 .b20__options.quien {
  padding-bottom: 25px;
  padding-top: 20px;
}
.b20 .b20__options.write {
  padding-top: 34px;
  padding-bottom: 31px;
}
.b20 .b20__options.sospecha {
  padding-top: 53px;
  padding-bottom: 34px;
}
.b20 .b20__terminos {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 65px;
}
.b20 .b20__relative {
  margin-bottom: 16px;
}
.b22-wrap-form {
  border: 1px solid #b9b9b9;
  padding: 40px;
}
.b22-wrap-form.clone {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.b22-wrap-form .b20__options {
  margin-bottom: 25px;
}
.b22-wrap-form .general__btn {
  max-width: 161px;
  width: 100%;
  margin: 0 0 0 auto;
}
.b22-add {
  height: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 15px;
  font-family: 'Graphik-Regular', sans-serif;
  background: #f0f0f0;
  color: #207443;
  margin-top: 17px;
}
.b22-add a {
  margin: 0;
  text-decoration: underline;
}
.b22-add i {
  margin-right: 10px;
}
.b22-file {
  max-width: 432px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #fff;
  height: 50px;
  margin: auto;
  margin-top: 57px;
}
.b22-file h2 {
  font-size: 15px;
  font-family: 'Graphik-Regular', sans-serif;
  color: #787878;
  margin: auto;
}
.b22-file h2 span {
  padding-right: 10px;
  font-size: 20px;
}
.b22-resumen {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.b22-resumen h2 {
  font-size: 15px;
  font-family: 'Graphik-Semibold', sans-serif;
  color: #787878;
  margin: auto 0 0 0;
  line-height: 1.47;
}
.b22-resumen h2 span {
  font-size: 14px;
  font-family: 'Graphik-Regular', sans-serif;
  display: inline-block;
  width: 100%;
}
.b22-resumen.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .b22-sociales-wrap,
  .b22-wrap-form {
    padding: 30px;
  }
  .b22-wrap-form .form-btn a {
    margin: auto;
    margin-top: 25px;
  }
  .b22-wrap-info {
    padding: 20px;
  }
  .b22-servicio-wrap {
    padding: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .b22-wrap-checks {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 23px;
  }
  .b22-set-checks {
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -o-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .b22-box-check {
    width: 19%;
    margin-right: 1%;
  }
}
@media screen and (max-width: 860px) {
  .b22-box-check {
    width: 24%;
    margin-right: 1%;
  }
  .b22 .form-cuartos .form-item.load-file {
    margin: auto;
  }
  .b22 .form-cuartos .tooltip {
    margin: auto;
    margin-top: 20px;
  }
  .b22 .form-cuartos .tooltip:before {
    display: block;
    margin-top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    top: -20px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .b22 .form-cuartos .tooltip span {
    margin-left: 20px;
  }
}
@media screen and (max-width: 680px) {
  .b22-box-check {
    width: 32%;
    margin-right: 1%;
  }
  .b22-box-radio:last-child {
    margin-left: 0;
    margin-top: 20px;
  }
  .b22-box-radio:first-child {
    margin-right: 0;
  }
  .b22-set-radio {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 580px) {
  .b22-box-check {
    width: 49%;
    margin-right: 1%;
  }
  .b22-check-rubro {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .b22-box-check {
    width: 100%;
    margin-right: 0%;
  }
}
@media screen and (max-width: 768px) {
  .b22-sociales-wrap,
  .b22-wrap-form {
    padding: 20px;
  }
  .b22-wrap-form h1 {
    margin-bottom: 25px;
  }
  .b22-title-form {
    font-size: 14px;
  }
  .b22-tabs {
    margin-top: 30px;
  }
  .b22-text {
    margin-top: 20px;
  }
  .b22-text p {
    line-height: 1.4;
    font-size: 13px;
  }
  .b22-form {
    padding-top: 20px;
  }
  .b22 .b22-icons a {
    width: 30px;
    height: 30px;
  }
  .b22 .b22-icons a span {
    width: 30px;
    height: 30px;
  }
  .b22 .b22-icons a span:before {
    font-size: 34px;
  }
  .b22 .form-input-btn.bloque {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .b22 .form-input-btn.bloque .form-btn {
    margin-top: 25px;
  }
}
@media screen and (max-width: 767px) {
  .b20 .b20__options.sospecha {
    padding: 30px 0;
  }
  .b20 .b20__relative {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .b22-title p {
    margin-top: 30px;
  }
  .b22-title-form {
    font-size: 13px;
  }
  .b22 .form-group-item {
    margin-bottom: 15px;
  }
  .b22 .g-btn-medium,
  .b22 .g-btn-small {
    height: 50px;
    font-size: 13px;
  }
}
