.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b5 {
  position: relative;
  background-color: #06160d;
}
.b5__hoja1 {
  position: absolute;
  bottom: -80px;
  left: 5%;
  z-index: 3;
}
.b5__hoja1 img {
  display: block;
  max-width: 100%;
  height: auto;
}
.b5__cnt__background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.b5__cnt__background:before,
.b5__cnt__background:after {
  content: '';
  width: 100%;
  height: 316px;
  background: -webkit-linear-gradient(bottom, rgba(6,22,13,0) 3%, #06160d 97%);
  background: -moz-linear-gradient(bottom, rgba(6,22,13,0) 3%, #06160d 97%);
  background: -o-linear-gradient(bottom, rgba(6,22,13,0) 3%, #06160d 97%);
  background: -ms-linear-gradient(bottom, rgba(6,22,13,0) 3%, #06160d 97%);
  background: linear-gradient(to top, rgba(6,22,13,0) 3%, #06160d 97%);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}
.b5__cnt__background:after {
  background: #06160d;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  height: 100%;
}
.b5__background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  visibility: hidden;
}
.b5__background.mobile {
  visibility: visible;
}
.b5__video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.b5__video iframe {
  width: 100%;
  height: 180%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.b5__cnt {
  position: relative;
  min-height: 600px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.b5__text {
  max-width: 430px;
  width: 100%;
}
.b5__text p {
  color: #fff;
  margin: 0;
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
}
.b5__btn {
  padding-top: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.b5__btn .general__btn {
  width: 200px;
}
@media screen and (max-width: 768px) {
  .b5__hoja1 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .b5__cnt {
    min-height: 400px;
  }
}
