.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b6 {
  background-color: #f4eee9;
}
.b6__cnt {
  padding-top: 148px;
  padding-bottom: 120px;
}
.b6__top {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  padding-bottom: 55px;
  border-bottom: 1px solid #245e3c;
}
.b6__controls__nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.b6__title .general__title {
  margin-bottom: 15px;
}
.b6__title .general__title h2 {
  font-size: 1;
}
.b6__title p {
  font-size: 20px;
  font-family: 'Graphik-Semibold', sans-serif;
  margin: 0;
  color: #4f4f4f;
}
.b6__controls__nav li {
  margin-left: 78px;
}
.b6__controls__nav a {
  font-size: 20px;
  font-family: 'Graphik-Semibold', sans-serif;
  color: #245e3c;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  line-height: 1.5;
  display: block;
}
.b6__controls__nav a.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b6__slider {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.b6__slider .owl-item .b6__slide {
  margin: 0;
  width: 100%;
}
.b6__slider .owl-nav {
  position: absolute;
  right: 0px;
  top: -16px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #f4eee9;
  padding-left: 20px;
}
.b6__slider .owl-nav.disabled {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.b6__slider .owl-prev,
.b6__slider .owl-next {
  font-size: 18px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #245e3c;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.b6__slider .owl-next {
  margin-left: 30px;
}
.b6__slide {
  padding-top: 32px;
  margin-left: 180px;
  width: calc(100% - 90px);
}
.b6__slide:nth-child(1) {
  margin-left: 0;
}
.b6__slide__top {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.b6__slide__top ul {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.b6__slide__top li {
  font-size: 20px;
  font-family: 'DomaineDispSemibold', sans-serif;
  color: #245e3c;
  width: 100px;
  position: relative;
}
.b6__slide__top li:nth-child(1) {
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80px;
  color: #4f4f4f;
}
.b6__slide__top li:nth-child(1):after {
  content: "/";
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.b6__slide__top li:nth-child(2) {
  text-align: right;
}
.b6__slide__fecha {
  width: 56px;
  line-height: 0.7;
  font-size: 50px;
  color: #245e3c;
  font-family: 'DomaineDispSemibold', sans-serif;
  -webkit-text-stroke: 1px #4f4f4f;
  -webkit-text-fill-color: #f4eee9;
  margin-right: 10px;
}
.b6__slide__text {
  padding-top: 34px;
}
.b6__slide__text h3 {
  font-size: 15px;
  font-family: 'Graphik-Semibold', sans-serif;
  color: #245e3c;
  margin-bottom: 30px;
  line-height: 1.33;
}
.b6__slide__text p {
  font-size: 15px;
  line-height: 1.47;
  margin: 0;
  min-height: 65px;
}
.b6__btn {
  padding-top: 32px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.b6__btn__bottom {
  padding-top: 85px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.b6__btn__bottom .general__btn {
  width: 200px;
}
@media screen and (max-width: 768px) {
  .b6__top {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }
  .b6__controls__nav {
    padding-top: 30px;
  }
  .b6__controls__nav li {
    margin: 0 20px;
  }
  .b6__btn__bottom {
    padding-top: 60px;
  }
  .b6__cnt {
    padding-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .b6 {
    overflow: hidden;
  }
  .b6__title p {
    font-size: 16px;
  }
  .b6__slider .owl-nav {
    right: 0;
    width: 100%;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: transparent;
  }
  .b6__slider .owl-prev,
  .b6__slider .owl-next {
    background-color: #f4eee9;
  }
  .b6__slide {
    padding-top: 42px;
  }
  .b6__slide__text p {
    text-align: justify;
  }
  .b6__slide__fecha {
    font-size: 40px;
  }
  .b6__slide__top li {
    width: 90px;
  }
  .b6__slide__top li:nth-child(1) {
    width: 80px;
    padding-right: 20px;
  }
}
